<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuanqing.project.tiansu.mapper.assets.CameraMapper">

    <resultMap type="com.yuanqing.project.tiansu.domain.assets.Camera" id="BusiCameraResult">
        <result property="id" column="ID"/>
        <result property="deviceCode" column="DEVICE_CODE"/>
        <result property="deviceDomain" column="DEVICE_DOMAIN"/>
        <result property="deviceName" column="DEVICE_NAME"/>
        <result property="macAddress" column="MAC_ADDRESS"/>
        <result property="longitude" column="LONGITUDE"/>
        <result property="latitude" column="LATITUDE"/>
        <result property="region" column="REGION"/>
        <result property="regionName" column="REGION_NAME"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="updateTime" column="UPDATE_TIME"/>
        <result property="ipAddress" column="IP_ADDRESS"/>
        <result property="status" column="STATUS"/>
        <result property="sipServerId" column="SIP_SERVER_ID"/>
        <result property="deviceType" column="DEVICE_TYPE"/>
        <result property="domainIp" column="DOMAIN_IP"/>
        <result property="domainPort" column="DOMAIN_PORT"/>
        <result property="isGb" column="IS_GB"/>
        <result property="manufacturer" column="MANUFACTURER"/>
        <result property="isProbe" column="IS_PROBE"/>
        <result property="isImport" column="IS_IMPORT"/>
        <result property="isCheck" column="IS_CHECK"/>
    </resultMap>

    <sql id="selectBusiCameraVo">
        select ID,
               DEVICE_CODE,
               DEVICE_DOMAIN,
               DEVICE_NAME,
               MAC_ADDRESS,
               LONGITUDE,
               LATITUDE,
               REGION,
               REGION_NAME,
               CREATE_TIME,
               UPDATE_TIME,
               IP_ADDRESS,
               STATUS,
               SIP_SERVER_ID,
               DEVICE_TYPE,
               DOMAIN_IP,
               DOMAIN_PORT,
               IS_GB,
               MANUFACTURER,
               IS_PROBE,
               IS_IMPORT,
               IS_CHECK
        from busi_camera
    </sql>

    <select id="getList" parameterType="com.yuanqing.project.tiansu.domain.assets.Camera" resultMap="BusiCameraResult">
        <include refid="selectBusiCameraVo"/>
        <where>
            device_type = 1
            <if test="deviceCode != null  and deviceCode != ''">and DEVICE_CODE = #{deviceCode}</if>
            <if test="deviceDomain != null  and deviceDomain != ''">and DEVICE_DOMAIN = #{deviceDomain}</if>
            <if test="deviceName != null  and deviceName != ''">and DEVICE_NAME like concat('%', #{deviceName}, '%')
            </if>
            <if test="macAddress != null  and macAddress != ''">and MAC_ADDRESS = #{macAddress}</if>
            <if test="longitude != null ">and LONGITUDE = #{longitude}</if>
            <if test="latitude != null ">and LATITUDE = #{latitude}</if>
            <if test="region != null ">and REGION = #{region}</if>
            <if test="createTime != null ">and CREATE_TIME = #{createTime}</if>
            <if test="updateTime != null ">and UPDATE_TIME = #{updateTime}</if>
            <if test="ipAddress != null ">and IP_ADDRESS = #{ipAddress}</if>
            <if test="status != null">and STATUS = #{status}</if>
            <if test="sipServerId != null ">and SIP_SERVER_ID = #{sipServerId}</if>
            <if test="domainIp != null ">and DOMAIN_IP = #{domainIp}</if>
            <if test="domainPort != null ">and DOMAIN_PORT = #{domainPort}</if>
            <if test="isGb != null ">and IS_GB = #{isGb}</if>
            <if test="manufacturer != null  and manufacturer != ''">and MANUFACTURER = #{manufacturer}</if>
            <if test="isProbe != null  and isProbe != ''">and IS_PROBE = #{isProbe}</if>
            <if test="isImport != null  and isImport != ''">and IS_IMPORT = #{isImport}</if>
            <if test="isCheck != null ">and IS_CHECK = #{isCheck}</if>
            <if test="startDate != null and endDate != null">and update_time between STR_TO_DATE(#{startDate},
                '%Y-%m-%dT%H:%i:%s') and STR_TO_DATE(#{endDate}, '%Y-%m-%dT%H:%i:%s')
            </if>
        </where>
        order by update_time desc
    </select>

    <select id="getScreenList" parameterType="com.yuanqing.project.tiansu.domain.assets.Camera" resultMap="BusiCameraResult">
        <include refid="selectBusiCameraVo"/>
        where
        device_type = 1
        and DEVICE_CODE in
        (SELECT DISTINCT
        bs.dst_code
        FROM
        busi_statistics bs
        WHERE
            1=1
        <choose>
            <when test="startDate != null and endDate != null">
                and bs.stamp BETWEEN DATE_FORMAT(#{startDate}, '%y%m%d') and DATE_FORMAT(#{endDate}, '%y%m%d')
            </when>
            <otherwise>
                and bs.stamp BETWEEN DATE_FORMAT(now(), '%y%m%d') and DATE_FORMAT(now(), '%y%m%d')
            </otherwise>
        </choose>
        )
        <if test="deviceDomain != null  and deviceDomain != ''">and DEVICE_DOMAIN = #{deviceDomain}</if>
        <if test="deviceName != null  and deviceName != ''">and DEVICE_NAME like concat('%', #{deviceName}, '%')
        </if>
        <if test="macAddress != null  and macAddress != ''">and MAC_ADDRESS = #{macAddress}</if>
        <if test="longitude != null ">and LONGITUDE = #{longitude}</if>
        <if test="latitude != null ">and LATITUDE = #{latitude}</if>
        <if test="region != null ">and REGION = #{region}</if>
        <if test="createTime != null ">and CREATE_TIME = #{createTime}</if>
        <if test="updateTime != null ">and UPDATE_TIME = #{updateTime}</if>
        <if test="ipAddress != null ">and IP_ADDRESS = #{ipAddress}</if>
        <if test="status != null">and STATUS = #{status}</if>
        <if test="sipServerId != null ">and SIP_SERVER_ID = #{sipServerId}</if>
        <if test="domainIp != null ">and DOMAIN_IP = #{domainIp}</if>
        <if test="domainPort != null ">and DOMAIN_PORT = #{domainPort}</if>
        <if test="isGb != null ">and IS_GB = #{isGb}</if>
        <if test="manufacturer != null  and manufacturer != ''">and MANUFACTURER = #{manufacturer}</if>
        <if test="isProbe != null  and isProbe != ''">and IS_PROBE = #{isProbe}</if>
        <if test="isImport != null  and isImport != ''">and IS_IMPORT = #{isImport}</if>
        <if test="isCheck != null ">and IS_CHECK = #{isCheck}</if>

    </select>

    <select id="getAllList" resultMap="BusiCameraResult">
        <include refid="selectBusiCameraVo"/>
        <where>
            device_type = 1
            <if test="camera.deviceCode != null  and camera.deviceCode != ''">and DEVICE_CODE = #{camera.deviceCode}
            </if>
            <if test="camera.deviceDomain != null  and camera.deviceDomain != ''">and DEVICE_DOMAIN =
                #{camera.deviceDomain}
            </if>
            <if test="camera.deviceName != null  and camera.deviceName != ''">and DEVICE_NAME like concat('%',
                #{camera.deviceName}, '%')
            </if>
            <if test="camera.macAddress != null  and camera.macAddress != ''">and MAC_ADDRESS = #{camera.macAddress}
            </if>
            <if test="camera.longitude != null ">and LONGITUDE = #{camera.longitude}</if>
            <if test="camera.latitude != null ">and LATITUDE = #{camera.latitude}</if>
            <if test="list != null ">and REGION in
                <foreach collection="list" open="(" separator="," close=")" item="item">
                    #{item}
                </foreach>
            </if>
            <if test="camera.createTime != null ">and CREATE_TIME = #{camera.createTime}</if>
            <if test="camera.updateTime != null ">and UPDATE_TIME = #{camera.updateTime}</if>
            <if test="camera.ipAddress != null ">and IP_ADDRESS = #{camera.ipAddress}</if>
            <if test="camera.status != null">and STATUS = #{camera.status}</if>
            <if test="camera.sipServerId != null ">and SIP_SERVER_ID = #{camera.sipServerId}</if>
            <if test="camera.domainIp != null ">and DOMAIN_IP = #{camera.domainIp}</if>
            <if test="camera.domainPort != null ">and DOMAIN_PORT = #{camera.domainPort}</if>
            <if test="camera.isGb != null ">and IS_GB = #{camera.isGb}</if>
            <if test="camera.manufacturer != null  and camera.manufacturer != ''">and MANUFACTURER =
                #{camera.manufacturer}
            </if>
            <if test="camera.isProbe != null  and camera.isProbe != ''">and IS_PROBE = #{camera.isProbe}</if>
            <if test="camera.isImport != null  and camera.isImport != ''">and IS_IMPORT = #{camera.isImport}</if>
            <if test="camera.isCheck != null ">and IS_CHECK = #{isCheck}</if>
            <if test="camera.startDate != null and camera.endDate != null">and update_time between
                STR_TO_DATE(#{camera.startDate}, '%Y-%m-%dT%H:%i:%s') and STR_TO_DATE(#{camera.endDate},
                '%Y-%m-%dT%H:%i:%s')
            </if>
        </where>
        order by update_time desc
    </select>


    <select id="getListWithOrder" resultMap="BusiCameraResult">
        <include refid="selectBusiCameraVo"/>
        <where>
            device_type = 1
            <if test="camera.deviceCode != null  and camera.deviceCode != ''">and DEVICE_CODE = #{camera.deviceCode}
            </if>
            <if test="camera.deviceDomain != null  and camera.deviceDomain != ''">and DEVICE_DOMAIN =
                #{camera.deviceDomain}
            </if>
            <if test="camera.deviceName != null  and camera.deviceName != ''">and DEVICE_NAME like concat('%',
                #{camera.deviceName}, '%')
            </if>
            <if test="camera.macAddress != null  and camera.macAddress != ''">and MAC_ADDRESS = #{camera.macAddress}
            </if>
            <if test="camera.longitude != null ">and LONGITUDE = #{camera.longitude}</if>
            <if test="camera.latitude != null ">and LATITUDE = #{camera.latitude}</if>
            <if test="camera.region != null ">and REGION = #{camera.region}</if>
            <if test="camera.createTime != null ">and CREATE_TIME = #{camera.createTime}</if>
            <if test="camera.updateTime != null ">and UPDATE_TIME = #{camera.updateTime}</if>
            <if test="camera.ipAddress != null ">and IP_ADDRESS = #{camera.ipAddress}</if>
            <if test="camera.status != null">and STATUS = #{camera.status}</if>
            <if test="camera.sipServerId != null ">and SIP_SERVER_ID = #{camera.sipServerId}</if>
            <if test="camera.domainIp != null ">and DOMAIN_IP = #{camera.domainIp}</if>
            <if test="camera.domainPort != null ">and DOMAIN_PORT = #{camera.domainPort}</if>
            <if test="camera.isGb != null ">and IS_GB = #{camera.isGb}</if>
            <if test="camera.manufacturer != null  and camera.manufacturer != ''">and MANUFACTURER =
                #{camera.manufacturer}
            </if>
            <if test="camera.isProbe != null  and camera.isProbe != ''">and IS_PROBE = #{camera.isProbe}</if>
            <if test="camera.isImport != null  and camera.isImport != ''">and IS_IMPORT = #{camera.isImport}</if>
            <if test="camera.isCheck != null ">and IS_CHECK = #{isCheck}</if>
            <if test="camera.startDate != null and camera.endDate != null">and update_time between
                STR_TO_DATE(#{camera.startDate}, '%Y-%m-%dT%H:%i:%s') and STR_TO_DATE(#{camera.endDate},
                '%Y-%m-%d 23:59:59')
            </if>
        </where>
        <if test="orderStr != null and orderStr != ''">
            ORDER BY ${orderStr}
        </if>
    </select>

    <select id="getSessionCameraList" resultMap="BusiCameraResult">
        SELECT DEVICE_CODE ,DEVICE_NAME ,IP_ADDRESS ,REGION_NAME ,CREATE_TIME
        from busi_camera
        WHERE 1 = 1
        AND DEVICE_TYPE = 1
        <if test="stime != null and stime != ''">
            AND create_time &gt;= #{stime}
        </if>
        <if test="etime != null and etime != ''">
            AND create_time &lt;= #{etime}
        </if>
        <if test="ip != null and ip != ''">
            AND IP_ADDRESS = #{ip}
        </if>
        <if test="deviceCode != null and deviceCode != ''">
            AND DEVICE_CODE = #{deviceCode}
        </if>
        <if test="deviceName != null and deviceName != ''">
            AND DEVICE_NAME like concat(#{deviceName}, '%')
        </if>
        <if test="sessionId != null and sessionId != ''">
            AND id in (select DISTINCT camera_id from busi_oper where session_id = #{sessionId}  AND (action &lt;> 10 and action &lt;> 11 ))
        </if>
    </select>

    <select id="batchGetCameraById" resultMap="BusiCameraResult">
        <include refid="selectBusiCameraVo"/>
        <where>
            id in
            <foreach collection="list" open="(" separator="," close=")" item="item">
                #{item}
            </foreach>
            and device_type = 1
        </where>
    </select>

    <select id="batchGetCameraByCode" resultMap="BusiCameraResult">
        <include refid="selectBusiCameraVo"/>
        <where>
            device_code in
            <foreach collection="list" open="(" separator="," close=")" item="item">
                #{item}
            </foreach>
            <if test="filter.deviceCode != null  and filter.deviceCode != ''">and DEVICE_CODE = #{filter.deviceCode}
            </if>
            <if test="filter.deviceName != null  and filter.deviceName != ''">and DEVICE_NAME like concat('%',
                #{filter.deviceName}, '%')
            </if>
            <if test="filter.ipAddress != null ">and IP_ADDRESS = #{filter.ipAddress}</if>
            <if test="filter.region != null ">and REGION = #{filter.region}</if>
            and device_type = 1
        </where>
    </select>

    <select id="findById" parameterType="Long" resultMap="BusiCameraResult">
        <include refid="selectBusiCameraVo"/>
        where ID = #{id}
        and device_type = 1
    </select>

    <select id="findByCode" parameterType="java.lang.String" resultMap="BusiCameraResult">
        <include refid="selectBusiCameraVo"/>
        where device_code = #{deviceCode}
        and device_type = 1
    </select>

    <select id="gourpByGb" resultType="com.alibaba.fastjson.JSONObject">

        select is_gb type, count(*) count
        from busi_camera
        where device_type = 1
        GROUP BY IS_GB

    </select>
    <select id="getRealTotal" resultType="java.lang.Integer">
        select count(*)
        from busi_camera where device_type = 1
    </select>

    <update id="updateIsNotServer" parameterType="long">
        update busi_camera
        <set>
            is_check = 1
            WHERE ip_address = #{ipAddress}
        </set>
    </update>

    <update id="changStatus">
        UPDATE BUSI_CAMERA SET STATUS= '0',UPDATE_TIME=now() WHERE ID in
        <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <update id="changAllStatus">
        UPDATE BUSI_CAMERA
        SET STATUS= '0',
            UPDATE_TIME=now()
        WHERE STATUS!='0'
    </update>

    <select id="findEventCameras" resultMap="BusiCameraResult">
        select
        *
        from
        BUSI_CAMERA
        where
        ID in (${id})
        and DEVICE_TYPE = 1
        <if test="deviceCode != null and deviceCode != '' ">
            AND DEVICE_CODE = #{deviceCode}
        </if>
        <if test="ipAddress != null and ipAddress != '' ">
            AND IP_ADDRESS = #{ipAddress}
        </if>
        <if test="orderType != null and orderType != '' ">
            order by ${orderType}
        </if>
    </select>

    <insert id="insert" parameterType="com.yuanqing.project.tiansu.domain.assets.Camera">
        insert into busi_camera
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">ID,</if>
            <if test="deviceCode != null  and deviceCode != ''">DEVICE_CODE,</if>
            <if test="deviceDomain != null  and deviceDomain != ''">DEVICE_DOMAIN,</if>
            <if test="deviceName != null  and deviceName != ''">DEVICE_NAME,</if>
            <if test="macAddress != null  and macAddress != ''">MAC_ADDRESS,</if>
            <if test="longitude != null ">LONGITUDE,</if>
            <if test="latitude != null ">LATITUDE,</if>
            <if test="region != null ">REGION,</if>
            <if test="createTime != null ">CREATE_TIME,</if>
            <if test="updateTime != null ">UPDATE_TIME,</if>
            <if test="ipAddress != null ">IP_ADDRESS,</if>
            <if test="status != null">STATUS,</if>
            <if test="sipServerId != null ">SIP_SERVER_ID,</if>
            <if test="deviceType != null  and deviceType != ''">DEVICE_TYPE,</if>
            <if test="domainIp != null ">DOMAIN_IP,</if>
            <if test="domainPort != null ">DOMAIN_PORT,</if>
            <if test="isGb != null ">IS_GB,</if>
            <if test="manufacturer != null  and manufacturer != ''">MANUFACTURER,</if>
            <if test="isProbe != null  and isProbe != ''">IS_PROBE,</if>
            <if test="isImport != null  and isImport != ''">IS_IMPORT,</if>
            <if test="isCheck != null ">IS_CHECK,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="deviceCode != null  and deviceCode != ''">#{deviceCode},</if>
            <if test="deviceDomain != null  and deviceDomain != ''">#{deviceDomain},</if>
            <if test="deviceName != null  and deviceName != ''">#{deviceName},</if>
            <if test="macAddress != null  and macAddress != ''">#{macAddress},</if>
            <if test="longitude != null ">#{longitude},</if>
            <if test="latitude != null ">#{latitude},</if>
            <if test="region != null ">#{region},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="ipAddress != null ">#{ipAddress},</if>
            <if test="status != null">#{status},</if>
            <if test="sipServerId != null ">#{sipServerId},</if>
            <if test="deviceType != null  and deviceType != ''">#{deviceType},</if>
            <if test="domainIp != null ">#{domainIp},</if>
            <if test="domainPort != null ">#{domainPort},</if>
            <if test="isGb != null ">#{isGb},</if>
            <if test="manufacturer != null  and manufacturer != ''">#{manufacturer},</if>
            <if test="isProbe != null  and isProbe != ''">#{isProbe},</if>
            <if test="isImport != null  and isImport != ''">#{isImport},</if>
            <if test="isCheck != null ">#{isCheck},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.yuanqing.project.tiansu.domain.assets.Camera">
        update busi_camera
        <trim prefix="SET" suffixOverrides=",">
            <if test="deviceCode != null  and deviceCode != ''">DEVICE_CODE = #{deviceCode},</if>
            <if test="deviceDomain != null  and deviceDomain != ''">DEVICE_DOMAIN = #{deviceDomain},</if>
            <if test="deviceName != null  and deviceName != ''">DEVICE_NAME = #{deviceName},</if>
            <if test="macAddress != null  and macAddress != ''">MAC_ADDRESS = #{macAddress},</if>
            <if test="longitude != null ">LONGITUDE = #{longitude},</if>
            <if test="latitude != null ">LATITUDE = #{latitude},</if>
            <if test="region != null ">REGION = #{region},</if>
            <if test="createTime != null ">CREATE_TIME = #{createTime},</if>
            <if test="updateTime != null ">UPDATE_TIME = #{updateTime},</if>
            <if test="ipAddress != null ">IP_ADDRESS = #{ipAddress},</if>
            <if test="status != null">STATUS = #{status},</if>
            <if test="sipServerId != null ">SIP_SERVER_ID = #{sipServerId},</if>
            <if test="deviceType != null  and deviceType != ''">DEVICE_TYPE = #{deviceType},</if>
            <if test="domainIp != null ">DOMAIN_IP = #{domainIp},</if>
            <if test="domainPort != null ">DOMAIN_PORT = #{domainPort},</if>
            <if test="isGb != null ">IS_GB = #{isGb},</if>
            <if test="manufacturer != null  and manufacturer != ''">MANUFACTURER = #{manufacturer},</if>
            <if test="isProbe != null  and isProbe != ''">IS_PROBE = #{isProbe},</if>
            <if test="isImport != null  and isImport != ''">IS_IMPORT = #{isImport},</if>
            <if test="isCheck != null ">IS_CHECK = #{isCheck},</if>
        </trim>
        where ID = #{id}
    </update>

    <delete id="delete" parameterType="Long">
        delete
        from busi_camera
        where ID = #{id}
    </delete>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO BUSI_CAMERA (ID, DEVICE_CODE, DEVICE_DOMAIN, DEVICE_NAME, IP_ADDRESS, MAC_ADDRESS, LONGITUDE,
        LATITUDE, REGION, CREATE_TIME,
        UPDATE_TIME,STATUS,DEVICE_TYPE,SIP_SERVER_ID,IS_GB,MANUFACTURER,IS_PROBE,IS_IMPORT,IS_CHECK)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.deviceCode}, #{item.deviceDomain},
            #{item.deviceName}, #{item.ipAddress},
            #{item.macAddress},
            #{item.longitude}, #{item.latitude}, #{item.region},
            now(), now(), #{item.status}, 1,
            #{item.sipServerId}, #{item.isGb},
            #{item.manufacturer}, #{item.isProbe}, #{item.isImport},
            0)
        </foreach>
    </insert>

    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
            update BUSI_CAMERA
            <set>
                <if test="item.deviceCode != null and item.deviceCode != ''">
                    DEVICE_CODE = #{item.deviceCode, jdbcType=VARCHAR},
                </if>
                <if test="item.deviceName != null and item.deviceName != ''">
                    DEVICE_NAME = #{item.deviceName, jdbcType=VARCHAR},
                </if>
                <if test="item.deviceDomain != null and item.deviceDomain != ''">
                    DEVICE_DOMAIN = #{item.deviceDomain, jdbcType=VARCHAR},
                </if>
                <if test="item.ipAddress != null">
                    IP_ADDRESS = #{item.ipAddress, jdbcType=BIGINT},
                </if>
                <if test="item.macAddress != null and item.macAddress != ''">
                    MAC_ADDRESS = #{item.macAddress, jdbcType=VARCHAR},
                </if>
                <if test="item.longitude != null">
                    LONGITUDE = #{item.longitude, jdbcType=DOUBLE},
                </if>
                <if test="item.latitude != null">
                    LATITUDE = #{item.latitude, jdbcType=DOUBLE},
                </if>
                <if test="item.status != null">
                    STATUS = #{item.status, jdbcType=INTEGER},
                </if>
                <if test="item.deviceType != null and item.deviceType != ''">
                    DEVICE_TYPE = #{item.deviceType,jdbcType =VARCHAR},
                </if>
                <if test="item.sipServerId != null">
                    SIP_SERVER_ID = #{item.sipServerId, jdbcType=BIGINT},
                </if>
                <if test="item.isGb != null">
                    IS_GB = #{item.isGb, jdbcType=INTEGER},
                </if>
                <if test="item.manufacturer != null and item.manufacturer != ''">
                    MANUFACTURER = #{item.manufacturer, jdbcType=VARCHAR},
                </if>
                <if test="item.isProbe != null and item.isProbe != ''">
                    IS_PROBE = #{item.isProbe,jdbcType =VARCHAR},
                </if>
                <if test="item.isImport != null and item.isImport != ''">
                    IS_IMPORT = #{item.isImport,jdbcType =VARCHAR},
                </if>
                <if test="item.region != null">
                    REGION = #{item.region.id, jdbcType=INTEGER},
                </if>
                UPDATE_TIME = now()
            </set>
            WHERE ID = #{item.id,jdbcType=BIGINT}
        </foreach>
    </update>
</mapper>
