<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuanqing.project.tiansu.mapper.assets.ClientMapper">

    <resultMap type="com.yuanqing.project.tiansu.domain.assets.Client" id="BusiClientResult">
        <result property="id"    column="ID"    />
        <result property="deviceCode"    column="DEVICE_CODE"    />
        <result property="deviceName"    column="DEVICE_NAME"    />
        <result property="macAddress"    column="MAC_ADDRESS"    />
        <result property="status"    column="STATUS"    />
        <result property="username"    column="USERNAME"    />
        <result property="createTime"    column="CREATE_TIME"    />
        <result property="updateTime"    column="UPDATE_TIME"    />
        <result property="ipAddress"    column="IP_ADDRESS"    />
        <result property="sipServerId"    column="SIP_SERVER_ID"    />
        <result property="mediaServerId"    column="MEDIA_SERVER_ID"    />
        <result property="userProxyServerId"    column="USER_PROXY_SERVER_ID"    />
        <result property="deviceType"    column="DEVICE_TYPE"    />
        <result property="domainIp"    column="DOMAIN_IP"    />
        <result property="domainPort"    column="DOMAIN_PORT"    />
        <result property="regionId"    column="REGION"    />
        <result property="source"    column="SOURCE"    />
    </resultMap>

    <sql id="selectBusiClientVo">
        select ID, DEVICE_CODE, DEVICE_NAME, MAC_ADDRESS, STATUS, USERNAME, CREATE_TIME, UPDATE_TIME, IP_ADDRESS, SIP_SERVER_ID, MEDIA_SERVER_ID, USER_PROXY_SERVER_ID, DEVICE_TYPE, DOMAIN_IP, DOMAIN_PORT, REGION, SOURCE from busi_client
    </sql>

    <select id="getList" parameterType="com.yuanqing.project.tiansu.domain.assets.Client" resultMap="BusiClientResult">
        <include refid="selectBusiClientVo"/>
        <where>
            <if test="deviceCode != null  and deviceCode != ''"> and DEVICE_CODE = #{deviceCode}</if>
            <if test="deviceName != null  and deviceName != ''"> and DEVICE_NAME like concat('%', #{deviceName}, '%')</if>
            <if test="macAddress != null  and macAddress != ''"> and MAC_ADDRESS = #{macAddress}</if>
            <if test="status != null  and status != ''"> and STATUS = #{status}</if>
            <if test="username != null  and username != ''"> and USERNAME = #{username}</if>
            <if test="createTime != null "> and CREATE_TIME = #{createTime}</if>
            <if test="updateTime != null "> and UPDATE_TIME = #{updateTime}</if>
            <if test="ipAddress != null "> and IP_ADDRESS = #{ipAddress}</if>
            <if test="sipServerId != null "> and SIP_SERVER_ID = #{sipServerId}</if>
            <if test="mediaServerId != null "> and MEDIA_SERVER_ID = #{mediaServerId}</if>
            <if test="userProxyServerId != null "> and USER_PROXY_SERVER_ID = #{userProxyServerId}</if>
            <if test="deviceType != null  and deviceType != ''"> and DEVICE_TYPE = #{deviceType}</if>
            <if test="domainIp != null "> and DOMAIN_IP = #{domainIp}</if>
            <if test="domainPort != null "> and DOMAIN_PORT = #{domainPort}</if>
            <if test="regionId != null "> and REGION = #{regionId}</if>
            <if test="source != null  and source != ''"> and SOURCE = #{source}</if>
            <if test="startDate != null and endDate != null">update_time between #{startDate} and #{endDate}</if>
        </where>
    </select>

    <select id="findById" parameterType="Long" resultMap="BusiClientResult">
        <include refid="selectBusiClientVo"/>
        where ID = #{id}
    </select>
    <select id="getUserNumByTerminal" resultType="com.alibaba.fastjson.JSONObject">

        select ip_address,count(DISTINCT username) userCnt from busi_client
        where
            ip_address in
            <foreach collection="list" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
         GROUP BY IP_ADDRESS

    </select>

    <select id="getTerminalNumByUserName" resultType="com.alibaba.fastjson.JSONObject">

        select username,count(DISTINCT IP_ADDRESS) terminalCnt from busi_client
        where username in
            <foreach collection="list" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        GROUP BY USERNAME


    </select>

    <insert id="insert" parameterType="com.yuanqing.project.tiansu.domain.assets.Client">
        insert into busi_client
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">ID,</if>
            <if test="deviceCode != null  and deviceCode != ''">DEVICE_CODE,</if>
            <if test="deviceName != null  and deviceName != ''">DEVICE_NAME,</if>
            <if test="macAddress != null  and macAddress != ''">MAC_ADDRESS,</if>
            <if test="status != null  and status != ''">STATUS,</if>
            <if test="username != null  and username != ''">USERNAME,</if>
            <if test="createTime != null ">CREATE_TIME,</if>
            <if test="updateTime != null ">UPDATE_TIME,</if>
            <if test="ipAddress != null ">IP_ADDRESS,</if>
            <if test="sipServerId != null ">SIP_SERVER_ID,</if>
            <if test="mediaServerId != null ">MEDIA_SERVER_ID,</if>
            <if test="userProxyServerId != null ">USER_PROXY_SERVER_ID,</if>
            <if test="deviceType != null  and deviceType != ''">DEVICE_TYPE,</if>
            <if test="domainIp != null ">DOMAIN_IP,</if>
            <if test="domainPort != null ">DOMAIN_PORT,</if>
            <if test="regionId != null ">REGION,</if>
            <if test="source != null  and source != ''">SOURCE,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="deviceCode != null  and deviceCode != ''">#{deviceCode},</if>
            <if test="deviceName != null  and deviceName != ''">#{deviceName},</if>
            <if test="macAddress != null  and macAddress != ''">#{macAddress},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="username != null  and username != ''">#{username},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="ipAddress != null ">#{ipAddress},</if>
            <if test="sipServerId != null ">#{sipServerId},</if>
            <if test="mediaServerId != null ">#{mediaServerId},</if>
            <if test="userProxyServerId != null ">#{userProxyServerId},</if>
            <if test="deviceType != null  and deviceType != ''">#{deviceType},</if>
            <if test="domainIp != null ">#{domainIp},</if>
            <if test="domainPort != null ">#{domainPort},</if>
            <if test="regionId != null ">#{regionId},</if>
            <if test="source != null  and source != ''">#{source},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.yuanqing.project.tiansu.domain.assets.Client">
        update busi_client
        <trim prefix="SET" suffixOverrides=",">
            <if test="deviceCode != null  and deviceCode != ''">DEVICE_CODE = #{deviceCode},</if>
            <if test="deviceName != null  and deviceName != ''">DEVICE_NAME = #{deviceName},</if>
            <if test="macAddress != null  and macAddress != ''">MAC_ADDRESS = #{macAddress},</if>
            <if test="status != null  and status != ''">STATUS = #{status},</if>
            <if test="username != null  and username != ''">USERNAME = #{username},</if>
            <if test="createTime != null ">CREATE_TIME = #{createTime},</if>
            <if test="updateTime != null ">UPDATE_TIME = #{updateTime},</if>
            <if test="ipAddress != null ">IP_ADDRESS = #{ipAddress},</if>
            <if test="sipServerId != null ">SIP_SERVER_ID = #{sipServerId},</if>
            <if test="mediaServerId != null ">MEDIA_SERVER_ID = #{mediaServerId},</if>
            <if test="userProxyServerId != null ">USER_PROXY_SERVER_ID = #{userProxyServerId},</if>
            <if test="deviceType != null  and deviceType != ''">DEVICE_TYPE = #{deviceType},</if>
            <if test="domainIp != null ">DOMAIN_IP = #{domainIp},</if>
            <if test="domainPort != null ">DOMAIN_PORT = #{domainPort},</if>
            <if test="regionId != null ">REGION = #{regionId},</if>
            <if test="source != null  and source != ''">SOURCE = #{source},</if>
        </trim>
        where ID = #{id}
    </update>

    <delete id="delete" parameterType="Long">
        delete from busi_client where ID = #{id}
    </delete>
    <delete id="deleteByIpAddress" parameterType="Long">
         delete from busi_client where IP_ADDRESS = #{ipAddress}
    </delete>
    <delete id="deleteByUsername">
        delete from busi_client where username = #{username}
    </delete>


</mapper>
