<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuanqing.project.tiansu.mapper.assets.ClientUserMapper">

    <resultMap type="com.yuanqing.project.tiansu.domain.assets.ClientUser" id="BusiClientUserResult">
        <result property="id"    column="ID"    />
        <result property="username"    column="USERNAME"    />
        <result property="status"    column="STATUS"    />
        <result property="createTime"    column="CREATE_TIME"    />
        <result property="updateTime"    column="UPDATE_TIME"    />
        <result property="source"    column="SOURCE"    />
    </resultMap>

    <sql id="selectBusiClientUserVo">
        SELECT
            bcu.ID,
            bcu.USERNAME,
            bcu.STATUS,
            bcu.CREATE_TIME,
            bcu.UPDATE_TIME,
            bcu.SOURCE
        FROM
            busi_client_user bcu
    </sql>

    <select id="getList" parameterType="com.yuanqing.project.tiansu.domain.assets.ClientUser" resultMap="BusiClientUserResult">
        <include refid="selectBusiClientUserVo"/>
        <where>
            <if test="username != null  and username != ''"> and bcu.USERNAME = #{username}</if>
            <if test="status != null"> and bcu.STATUS = #{status}</if>
            <if test="createTime != null "> and bcu.CREATE_TIME = #{createTime}</if>
            <if test="updateTime != null "> and bcu.UPDATE_TIME = #{updateTime}</if>
            <if test="source != null  and source != ''"> and bcu.SOURCE = #{source}</if>
            <if test="startDate != null and endDate != null">and bcu.update_time between STR_TO_DATE(#{startDate}, '%Y-%m-%dT%H:%i:%s') and STR_TO_DATE(#{endDate}, '%Y-%m-%dT%H:%i:%s')</if>
        </where>
    </select>

    <select id="getListWithOrder" resultMap="BusiClientUserResult">
        <include refid="selectBusiClientUserVo"/>
        <where>
            <if test="clientUser.username != null  and clientUser.username != ''"> and bcu.USERNAME = #{clientUser.username}</if>
            <if test="clientUser.status != null"> and bcu.STATUS = #{clientUser.status}</if>
            <if test="clientUser.createTime != null "> and bcu.CREATE_TIME = #{clientUser.createTime}</if>
            <if test="clientUser.updateTime != null "> and bcu.UPDATE_TIME = #{clientUser.updateTime}</if>
            <if test="clientUser.source != null  and clientUser.source != ''"> and bcu.SOURCE = #{clientUser.source}</if>
            <if test="clientUser.startDate != null and clientUser.endDate != null">and bcu.update_time between STR_TO_DATE(#{clientUser.startDate}, '%Y-%m-%dT%H:%i:%s') and STR_TO_DATE(#{clientUser.endDate}, '%Y-%m-%dT%H:%i:%s')</if>
        </where>
        <if test="orderStr != null and orderStr != ''">
            ORDER BY ${orderStr}
        </if>
    </select>

    <select id="findById" parameterType="Long" resultMap="BusiClientUserResult">
        <include refid="selectBusiClientUserVo"/>
        where ID = #{id}
    </select>
    <select id="getClientUserByUsername" resultMap="BusiClientUserResult">
        <include refid="selectBusiClientUserVo"/>
        <where> username in
            <foreach collection="clientList" index="index" item="item" open="(" separator="," close=")">
                #{item.username}
            </foreach>
        </where>
        <if test="orderStr != null and orderStr != ''">
            ORDER BY ${orderStr}
        </if>
    </select>
    <select id="getRealTotal" resultType="java.lang.Integer">
        select count(*) from busi_client_user;
    </select>

    <select id="getActiveClientUser" resultType="com.yuanqing.project.tiansu.domain.assets.ClientUser">
        <include refid="selectBusiClientUserVo"/>
        where bcu.username in (
        SELECT DISTINCT
        bs.username
        FROM
        busi_statistics bs
        WHERE
        1=1
        <choose>
            <when test="startDate != null and endDate != null">
                and bs.stamp BETWEEN DATE_FORMAT(#{startDate}, '%y%m%d') and DATE_FORMAT(#{endDate}, '%y%m%d')
            </when>
            <otherwise>
                and bs.stamp BETWEEN DATE_FORMAT(now(), '%y%m%d') and DATE_FORMAT(now(), '%y%m%d')
            </otherwise>
        </choose>
        )
        <if test="username != null  and username != ''"> and bcu.USERNAME = #{username}</if>
        <if test="status != null"> and bcu.STATUS = #{status}</if>
        <if test="createTime != null "> and bcu.CREATE_TIME = #{createTime}</if>
        <if test="updateTime != null "> and bcu.UPDATE_TIME = #{updateTime}</if>
        <if test="source != null  and source != ''"> and bcu.SOURCE = #{source}</if>

    </select>

    <insert id="insert" parameterType="com.yuanqing.project.tiansu.domain.assets.ClientUser">
        insert into busi_client_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">ID,</if>
            <if test="username != null  and username != ''">USERNAME,</if>
            <if test="status != null  and status != ''">STATUS,</if>
            CREATE_TIME,
            UPDATE_TIME,
            <if test="source != null  and source != ''">SOURCE,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="username != null  and username != ''">#{username},</if>
            <if test="status != null  and status != ''">#{status},</if>
            now(),
            now(),
            <if test="source != null  and source != ''">#{source}</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.yuanqing.project.tiansu.domain.assets.ClientUser">
        update busi_client_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="username != null  and username != ''">USERNAME = #{username},</if>
            <if test="status != null">STATUS = #{status},</if>
            UPDATE_TIME = now(),
            <if test="source != null  and source != ''">SOURCE = #{source},</if>
        </trim>
        where ID = #{id}
    </update>


    <update id="changStatus">
        UPDATE busi_client_user SET STATUS= '0', update_time = now()
        WHERE id in
        <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <delete id="delete" parameterType="Long">
        delete from busi_client_user where ID = #{id}
    </delete>


</mapper>
