<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuanqing.project.tiansu.mapper.assets.ClientTerminalMapper">

    <resultMap type="com.yuanqing.project.tiansu.domain.assets.ClientTerminal" id="BusiClientTerminalResult">
        <result property="id"    column="ID"    />
        <result property="deviceCode"    column="DEVICE_CODE"    />
        <result property="deviceName"    column="DEVICE_NAME"    />
        <result property="macAddress"    column="MAC_ADDRESS"    />
        <result property="status"    column="STATUS"    />
        <result property="createTime"    column="CREATE_TIME"    />
        <result property="updateTime"    column="UPDATE_TIME"    />
        <result property="ipAddress"    column="IP_ADDRESS"    />
        <result property="sipServerId"    column="SIP_SERVER_ID"    />
        <result property="mediaServerId"    column="MEDIA_SERVER_ID"    />
        <result property="userProxyServerId"    column="USER_PROXY_SERVER_ID"    />
        <result property="deviceType"    column="DEVICE_TYPE"    />
        <result property="domainIp"    column="DOMAIN_IP"    />
        <result property="domainPort"    column="DOMAIN_PORT"    />
        <result property="regionId"    column="REGION"    />
        <result property="source"    column="SOURCE"    />
    </resultMap>

    <sql id="selectBusiClientTerminalVo">
        SELECT
            bct.ID,
            bct.DEVICE_CODE,
            bct.DEVICE_NAME,
            bct.MAC_ADDRESS,
            bct.STATUS,
            bct.CREATE_TIME,
            bct.UPDATE_TIME,
            bct.IP_ADDRESS,
            bct.SIP_SERVER_ID,
            bct.MEDIA_SERVER_ID,
            bct.USER_PROXY_SERVER_ID,
            bct.DEVICE_TYPE,
            bct.DOMAIN_IP,
            bct.DOMAIN_PORT,
            bct.REGION,
            bct.SOURCE
        FROM
            busi_client_terminal bct
	 </sql>

    <select id="getList" parameterType="com.yuanqing.project.tiansu.domain.assets.ClientTerminal" resultMap="BusiClientTerminalResult">
        <include refid="selectBusiClientTerminalVo"/>
        <where>
            1=1
            and device_type = 1
            <if test="deviceCode != null  and deviceCode != ''"> and bct.DEVICE_CODE = #{deviceCode}</if>
            <if test="deviceName != null  and deviceName != ''"> and bct.DEVICE_NAME like concat('%', #{deviceName}, '%')</if>
            <if test="macAddress != null  and macAddress != ''"> and bct.MAC_ADDRESS = #{macAddress}</if>
            <if test="status != null"> and bct.STATUS = #{status}</if>
            <if test="createTime != null "> and bct.CREATE_TIME = #{createTime}</if>
            <if test="updateTime != null "> and bct.UPDATE_TIME = #{updateTime}</if>
            <if test="ipAddress != null "> and bct.IP_ADDRESS = #{ipAddress}</if>
            <if test="sipServerId != null "> and bct.SIP_SERVER_ID = #{sipServerId}</if>
            <if test="mediaServerId != null "> and bct.MEDIA_SERVER_ID = #{mediaServerId}</if>
            <if test="userProxyServerId != null "> and bct.USER_PROXY_SERVER_ID = #{userProxyServerId}</if>
            <if test="deviceType != null  and deviceType != ''"> and bct.DEVICE_TYPE = #{deviceType}</if>
            <if test="domainIp != null "> and bct.DOMAIN_IP = #{domainIp}</if>
            <if test="domainPort != null "> and bct.DOMAIN_PORT = #{domainPort}</if>
            <if test="regionId != null "> and bct.REGION = #{regionId}</if>
            <if test="source != null  and source != ''"> and bct.SOURCE = #{source}</if>
            <if test="startDate != null and endDate != null"> and bct.update_time between STR_TO_DATE(#{startDate}, '%Y-%m-%dT%H:%i:%s') and STR_TO_DATE(#{endDate}, '%Y-%m-%dT%H:%i:%s')</if>
        </where>
    </select>

    <select id="getClientTerminalByIpList" resultMap="BusiClientTerminalResult">
        <include refid="selectBusiClientTerminalVo"/>
        <where>
            bct.IP_ADDRESS in
            <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
            <if test="filter.status != null"> and bct.STATUS = #{filter.status}</if>
            <if test="filter.ipAddress != null "> and bct.IP_ADDRESS = #{filter.ipAddress}</if>
        </where>
    </select>

    <select id="findById" parameterType="Long" resultMap="BusiClientTerminalResult">
        <include refid="selectBusiClientTerminalVo"/>
        where ID = #{id}
    </select>

    <insert id="insert" parameterType="com.yuanqing.project.tiansu.domain.assets.ClientTerminal">
        insert into busi_client_terminal
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">ID,</if>
            <if test="deviceCode != null  and deviceCode != ''">DEVICE_CODE,</if>
            <if test="deviceName != null  and deviceName != ''">DEVICE_NAME,</if>
            <if test="macAddress != null  and macAddress != ''">MAC_ADDRESS,</if>
            <if test="status != null  and status != ''">STATUS,</if>
            <if test="createTime != null ">CREATE_TIME,</if>
            <if test="updateTime != null ">UPDATE_TIME,</if>
            <if test="ipAddress != null ">IP_ADDRESS,</if>
            <if test="sipServerId != null ">SIP_SERVER_ID,</if>
            <if test="mediaServerId != null ">MEDIA_SERVER_ID,</if>
            <if test="userProxyServerId != null ">USER_PROXY_SERVER_ID,</if>
            <if test="deviceType != null  and deviceType != ''">DEVICE_TYPE,</if>
            <if test="domainIp != null ">DOMAIN_IP,</if>
            <if test="domainPort != null ">DOMAIN_PORT,</if>
            <if test="regionId != null ">REGION,</if>
            <if test="source != null  and source != ''">SOURCE,</if>
            create_time,
            update_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="deviceCode != null  and deviceCode != ''">#{deviceCode},</if>
            <if test="deviceName != null  and deviceName != ''">#{deviceName},</if>
            <if test="macAddress != null  and macAddress != ''">#{macAddress},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="ipAddress != null ">#{ipAddress},</if>
            <if test="sipServerId != null ">#{sipServerId},</if>
            <if test="mediaServerId != null ">#{mediaServerId},</if>
            <if test="userProxyServerId != null ">#{userProxyServerId},</if>
            <if test="deviceType != null  and deviceType != ''">#{deviceType},</if>
            <if test="domainIp != null ">#{domainIp},</if>
            <if test="domainPort != null ">#{domainPort},</if>
            <if test="regionId != null ">#{regionId},</if>
            <if test="source != null  and source != ''">#{source},</if>
            now(),
            now()
        </trim>
    </insert>

    <update id="update" parameterType="com.yuanqing.project.tiansu.domain.assets.ClientTerminal">
        update busi_client_terminal
        <trim prefix="SET" suffixOverrides=",">
            <if test="deviceCode != null  and deviceCode != ''">DEVICE_CODE = #{deviceCode},</if>
            <if test="deviceName != null  and deviceName != ''">DEVICE_NAME = #{deviceName},</if>
            <if test="macAddress != null  and macAddress != ''">MAC_ADDRESS = #{macAddress},</if>
            <if test="status != null">STATUS = #{status},</if>
            <if test="createTime != null ">CREATE_TIME = #{createTime},</if>
            <if test="updateTime != null ">UPDATE_TIME = #{updateTime},</if>
            <if test="ipAddress != null ">IP_ADDRESS = #{ipAddress},</if>
            <if test="sipServerId != null ">SIP_SERVER_ID = #{sipServerId},</if>
            <if test="mediaServerId != null ">MEDIA_SERVER_ID = #{mediaServerId},</if>
            <if test="userProxyServerId != null ">USER_PROXY_SERVER_ID = #{userProxyServerId},</if>
            <if test="deviceType != null  and deviceType != ''">DEVICE_TYPE = #{deviceType},</if>
            <if test="domainIp != null ">DOMAIN_IP = #{domainIp},</if>
            <if test="domainPort != null ">DOMAIN_PORT = #{domainPort},</if>
            <if test="regionId != null ">REGION = #{regionId},</if>
            <if test="source != null  and source != ''">SOURCE = #{source},</if>
            update_time = now()
        </trim>
        where ID = #{id}
    </update>

    <update id="changStatus">
        UPDATE busi_client_terminal SET status= '0',update_time = now() WHERE ID in
        <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>



    <delete id="delete" parameterType="Long">
        delete from busi_client_terminal where ID = #{id}
    </delete>


    <select id="findByIpAddress" parameterType="Long"  resultMap="BusiClientTerminalResult">
        <include refid="selectBusiClientTerminalVo"/>
        WHERE IP_ADDRESS = #{ipAddress}
        limit 1
    </select>

    <update id="updateClientTerminal" parameterType="com.yuanqing.project.tiansu.domain.assets.ClientTerminal">
        UPDATE BUSI_CLIENT_TERMINAL
        SET
            DEVICE_CODE = #{deviceCode, jdbcType=VARCHAR},
            DEVICE_NAME = #{deviceName, jdbcType=VARCHAR},
            MAC_ADDRESS = #{macAddress, jdbcType=VARCHAR},
            STATUS      = #{status, jdbcType=INTEGER},
            REGION        = #{region.id, jdbcType=INTEGER},
            UPDATE_TIME = now(),
            DEVICE_TYPE =#{deviceType,jdbcType=VARCHAR},
            SIP_SERVER_ID = #{sipServerId, jdbcType=BIGINT},
            MEDIA_SERVER_ID = #{mediaServerId, jdbcType=BIGINT},
            USER_PROXY_SERVER_ID = #{userProxyServerId, jdbcType=BIGINT}
        WHERE ID = #{id, jdbcType=BIGINT}
    </update>

    <update id="updateMark" parameterType="long">
        update BUSI_CLIENT_TERMINAL
        <set>
            DEVICE_TYPE = null
        </set>
        WHERE IP_ADDRESS = #{ipAddress, jdbcType=BIGINT}
    </update>
</mapper>
