<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuanqing.project.tiansu.mapper.assets.ServerTreeMapper">

    <resultMap id="resultMap" type="com.yuanqing.project.tiansu.domain.assets.ServerTree">
        <id column="ID" property="id" jdbcType="BIGINT"/>
        <result column="SERVER_CODE" property="serverCode" jdbcType="VARCHAR"/>
        <result column="SERVER_NAME" property="serverName" jdbcType="VARCHAR"/>
        <result column="SERVER_DOMAIN" property="serverDomain" jdbcType="VARCHAR"/>
        <result column="SERVER_IP" property="serverIp" jdbcType="BIGINT"/>
        <result column="SERVER_PORT" property="serverPort" jdbcType="BIGINT"/>
        <result column="SERVER_MAC" property="serverMac" jdbcType="VARCHAR"/>
        <result column="SERVER_TYPE" property="serverType" jdbcType="INTEGER"
                typeHandler="com.yuanqing.common.handle.DefaultEnumTypeHandler"/>
        <result column="IS_RANG_AUDIT" property="isRangAudit" jdbcType="VARCHAR"/>
        <result column="RANG_AUDIT_PORT" property="rangAuditPort" jdbcType="VARCHAR"/>
        <result column="IS_SSH_AUDIT" property="isSshAudit" jdbcType="VARCHAR"/>
        <result column="SSH_AUDIT_PORT" property="sshAuditPort" jdbcType="VARCHAR"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="PARENT_ID" property="parentId" jdbcType="BIGINT"/>
        <result column="IS_DELETE" property="isDelete" jdbcType="BIGINT"/>
    </resultMap>

    <select id="getAll" resultMap="resultMap">
        SELECT u.ID,
        u.SERVER_CODE,
        u.SERVER_NAME,
        u.SERVER_DOMAIN,
        u.SERVER_IP,
        u.SERVER_PORT,
        u.SERVER_MAC,
        u.SERVER_TYPE,
        u.IS_RANG_AUDIT,
        u.RANG_AUDIT_PORT,
        u.IS_SSH_AUDIT,
        u.SSH_AUDIT_PORT,
        u.CREATE_TIME,
        u.UPDATE_TIME,
        u.PARENT_ID
        FROM BUSI_SERVER u
        WHERE 1=1
        <if test="serverCode != null and serverCode != ''">
            AND u.SERVER_CODE like '%' || #{serverCode} || '%'
        </if>
        <if test="serverDomain != null and serverDomain != ''">
            AND u.SERVER_DOMAIN like '%' || #{serverDomain} || '%'
        </if>
        <if test="serverIp != null and serverIp != ''">
            AND u.SERVER_IP = #{serverIp}
        </if>
        <if test="serverTypeValue != null and serverTypeValue != ''">
            and u.SERVER_TYPE = #{serverTypeValue}
        </if>
        <if test="isDelete != null and isDelete != ''">
            and u.IS_DELETE = #{isDelete}
        </if>
        ORDER BY UPDATE_TIME DESC
    </select>

    <select id="getAllDate" resultMap="resultMap">
        SELECT * FROM BUSI_SERVER
    </select>

    <select id="findById" parameterType="Long" resultMap="resultMap">
        SELECT
            u.*
        FROM BUSI_SERVER u
        WHERE u.ID = #{id}
    </select>

    <select id="findByServerCode" parameterType="String" resultMap="resultMap">
        SELECT
            u.*
        FROM BUSI_SERVER u
        WHERE u.SERVER_CODE = #{serverCode}
    </select>

    <select id="findOne" resultMap="resultMap">
        SELECT
        u.*
        FROM BUSI_SERVER u
        <where>
            u.SERVER_IP = #{serverIp}
        </where>
    </select>

    <select id="findId" resultType="java.lang.Long" useCache="false" flushCache="true">
        SELECT SQ_BUSI_SERVER_ID.nextval from dual
    </select>

    <insert id="insertServerTree" parameterType="com.yuanqing.project.tiansu.domain.assets.ServerTree">
        INSERT INTO BUSI_SERVER (ID, SERVER_CODE, SERVER_NAME, SERVER_DOMAIN, SERVER_IP,
        SERVER_PORT, SERVER_MAC, SERVER_TYPE,IS_RANG_AUDIT,RANG_AUDIT_PORT,
        IS_SSH_AUDIT,SSH_AUDIT_PORT,CREATE_TIME,UPDATE_TIME,PARENT_ID,IS_DELETE)
        VALUES (
        #{id},
        #{serverCode, jdbcType=VARCHAR},
        #{serverName, jdbcType=VARCHAR},
        #{serverDomain, jdbcType=VARCHAR},
        #{serverIp, jdbcType=BIGINT},
        #{serverPort, jdbcType=BIGINT},
        #{serverMac, jdbcType=VARCHAR},
        #{serverType, jdbcType=INTEGER, typeHandler=com.yuanqing.common.handle.DefaultEnumTypeHandler},
        #{isRangAudit, jdbcType=VARCHAR},
        #{rangAuditPort, jdbcType=VARCHAR},
        #{isSshAudit, jdbcType=VARCHAR},
        #{sshAuditPort, jdbcType=VARCHAR},
        sysdate,
        sysdate,
        #{parentId, jdbcType=BIGINT},
        1
        )
    </insert>

    <insert id="insert" parameterType="ServerTree">
        <selectKey resultType="long" order="BEFORE" keyProperty="id">
            SELECT SQ_BUSI_SERVER_ID.nextval AS id from dual
        </selectKey>
        INSERT INTO BUSI_SERVER (ID, SERVER_CODE, SERVER_NAME, SERVER_DOMAIN, SERVER_IP,
        SERVER_PORT, SERVER_MAC, SERVER_TYPE,IS_RANG_AUDIT,RANG_AUDIT_PORT,
        IS_SSH_AUDIT,SSH_AUDIT_PORT,CREATE_TIME,UPDATE_TIME,PARENT_ID,IS_DELETE)
        VALUES (
        #{id},
        #{serverCode, jdbcType=VARCHAR},
        #{serverName, jdbcType=VARCHAR},
        #{serverDomain, jdbcType=VARCHAR},
        #{serverIp, jdbcType=BIGINT},
        #{serverPort, jdbcType=BIGINT},
        #{serverMac, jdbcType=VARCHAR},
        #{serverType, jdbcType=INTEGER, typeHandler=com.yuanqing.common.handle.DefaultEnumTypeHandler},
        #{isRangAudit, jdbcType=VARCHAR},
        #{rangAuditPort, jdbcType=VARCHAR},
        #{isSshAudit, jdbcType=VARCHAR},
        #{sshAuditPort, jdbcType=VARCHAR},
        sysdate,
        sysdate,
        #{parentId, jdbcType=BIGINT},
        1
        )
    </insert>

    <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true">
        <selectKey resultType="long" keyProperty="id" order="BEFORE">
            SELECT SQ_BUSI_SERVER_ID.nextval FROM DUAL
        </selectKey>
        INSERT INTO BUSI_SERVER(ID, SERVER_CODE, SERVER_NAME, SERVER_DOMAIN, SERVER_IP,
        SERVER_PORT, SERVER_MAC, SERVER_TYPE,IS_RANG_AUDIT,RANG_AUDIT_PORT,
        IS_SSH_AUDIT,SSH_AUDIT_PORT,CREATE_TIME,UPDATE_TIME,PARENT_ID,IS_DELETE)
        SELECT SQ_BUSI_SERVER_ID.NEXTVAL, A.* FROM (
        <foreach item="item" index="index" collection="list" separator="UNION ALL">
            SELECT
            #{item.serverCode, jdbcType=VARCHAR} as SERVER_CODE,
            #{item.serverName, jdbcType=VARCHAR} as SERVER_NAME,
            #{item.serverDomain, jdbcType=VARCHAR} as SERVER_DOMAIN,
            #{item.serverIp, jdbcType=BIGINT} as SERVER_IP,
            #{item.serverPort, jdbcType=BIGINT} as SERVER_PORT,
            #{item.serverMac, jdbcType=VARCHAR} as SERVER_MAC,
            #{item.serverType, jdbcType=INTEGER, typeHandler=com.yuanqing.common.handle.DefaultEnumTypeHandler} as
            SERVER_TYPE,
            #{item.isRangAudit, jdbcType=VARCHAR} as IS_RANG_AUDIT,
            #{item.rangAuditPort, jdbcType=VARCHAR} as RANG_AUDIT_PORT,
            #{item.isSshAudit, jdbcType=VARCHAR} as IS_SSH_AUDIT,
            #{item.sshAuditPort, jdbcType=VARCHAR} as SSH_AUDIT_PORT,
            sysdate as CREATE_TIME,
            sysdate as UPDATE_TIME,
            #{item.parentId, jdbcType=BIGINT} as PARENT_ID,
            1 as IS_DELETE
            FROM dual
        </foreach>
        ) A
    </insert>

    <update id="update" parameterType="ServerTree">
        UPDATE BUSI_SERVER
        SET
            SERVER_CODE    = #{serverCode, jdbcType=VARCHAR},
            SERVER_NAME    = #{serverName, jdbcType=VARCHAR},
            SERVER_DOMAIN  = #{serverDomain, jdbcType=VARCHAR},
            SERVER_IP      = #{serverIp, jdbcType=BIGINT},
            SERVER_PORT    = #{serverPort, jdbcType=BIGINT},
            SERVER_MAC     = #{serverMac, jdbcType=VARCHAR},
            SERVER_TYPE    = #{serverType, jdbcType=INTEGER, typeHandler=com.yuanqing.common.handle.DefaultEnumTypeHandler},
            IS_RANG_AUDIT  = #{isRangAudit, jdbcType=VARCHAR},
            RANG_AUDIT_PORT= #{rangAuditPort, jdbcType=VARCHAR},
            IS_SSH_AUDIT   = #{isSshAudit, jdbcType=VARCHAR},
            SSH_AUDIT_PORT = #{sshAuditPort, jdbcType=VARCHAR},
            UPDATE_TIME    = sysdate,
            PARENT_ID      = #{parentId, jdbcType=BIGINT}
        WHERE id = #{id}
    </update>

    <update id="delete" parameterType="long">
        UPDATE BUSI_SERVER
        SET
            IS_DELETE    = 2
        WHERE  id = #{id}
    </update>

    <select id="getSessionServerList" resultMap="resultMap">
        select
        bs.*
        from
        busi_server bs
        right join
        (select DISTINCT dst_ip from v_busi_oper where session_id = #{sessionId}) si
        on
        si.dst_ip = bs.server_ip
        where 1 = 1
        <if test="stime != null and stime != ''">
            AND bs.create_time >= to_date(#{stime}, 'YYYY-MM-DD"T"HH24:MI:SS')
        </if>
        <if test="etime != null and etime != ''">
            AND bs.create_time &lt;= to_date(#{etime}, 'YYYY-MM-DD"T"HH24:MI:SS')
        </if>
        <if test="serverCode != null and serverCode != ''">

            AND bs.SERVER_CODE = #{serverCode}
        </if>
        <if test="serverIp != null and serverIp != ''">
            AND int2ip(bs.SERVER_IP) = #{serverIp}
        </if>
    </select>


</mapper>
