<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuanqing.project.tiansu.mapper.assets.ServerTreeMapper">

    <resultMap type="com.yuanqing.project.tiansu.domain.assets.ServerTree" id="BusiServerResult">
        <result property="id"    column="ID"    />
        <result property="serverCode"    column="SERVER_CODE"    />
        <result property="serverName"    column="SERVER_NAME"    />
        <result property="serverDomain"    column="SERVER_DOMAIN"    />
        <result property="serverIp"    column="SERVER_IP"    />
        <result property="serverPort"    column="SERVER_PORT"    />
        <result property="serverMac"    column="SERVER_MAC"    />
        <result property="serverType"    column="SERVER_TYPE"    />
        <result property="isRangAudit"    column="IS_RANG_AUDIT"    />
        <result property="rangAuditPort"    column="RANG_AUDIT_PORT"    />
        <result property="isSshAudit"    column="IS_SSH_AUDIT"    />
        <result property="sshAuditPort"    column="SSH_AUDIT_PORT"    />
        <result property="createndDate"    column="CREATE_TIME"    />
        <result property="updatendDate"    column="UPDATE_TIME"    />
        <result property="parentId"    column="PARENT_ID"    />
        <result property="isDelete"    column="IS_DELETE"    />
    </resultMap>

    <sql id="selectBusiServerVo">
        SELECT
            ID,
            SERVER_CODE,
            SERVER_NAME,
            SERVER_DOMAIN,
            SERVER_IP,
            SERVER_PORT,
            SERVER_MAC,
            SERVER_TYPE,
            IS_RANG_AUDIT,
            RANG_AUDIT_PORT,
            IS_SSH_AUDIT,
            SSH_AUDIT_PORT,
            CREATE_TIME,
            UPDATE_TIME,
            PARENT_ID,
            IS_DELETE
        FROM
            busi_server
    </sql>

    <select id="getList" parameterType="com.yuanqing.project.tiansu.domain.assets.ServerTree" resultMap="BusiServerResult">
        <include refid="selectBusiServerVo"/>
        <where>
            <if test="serverCode != null  and serverCode != ''"> and SERVER_CODE = #{serverCode}</if>
            <if test="serverName != null  and serverName != ''"> and SERVER_NAME like concat('%', #{serverName}, '%')</if>
            <if test="serverDomain != null  and serverDomain != ''"> and SERVER_DOMAIN = #{serverDomain}</if>
            <if test="serverIp != null "> and SERVER_IP = #{serverIp}</if>
            <if test="serverPort != null "> and SERVER_PORT = #{serverPort}</if>
            <if test="serverMac != null  and serverMac != ''"> and SERVER_MAC = #{serverMac}</if>
            <if test="serverType != null  and serverType != ''"> and SERVER_TYPE = #{serverType}</if>
            <if test="isRangAudit != null  and isRangAudit != ''"> and IS_RANG_AUDIT = #{isRangAudit}</if>
            <if test="rangAuditPort != null  and rangAuditPort != ''"> and RANG_AUDIT_PORT = #{rangAuditPort}</if>
            <if test="isSshAudit != null  and isSshAudit != ''"> and IS_SSH_AUDIT = #{isSshAudit}</if>
            <if test="sshAuditPort != null  and sshAuditPort != ''"> and SSH_AUDIT_PORT = #{sshAuditPort}</if>
            <if test="startDate != null and endDate != null">update_time between STR_TO_DATE(#{startDate}, '%Y-%m-%d %H:%i:%s') and STR_TO_DATE(#{endDate}, '%Y-%m-%d %H:%i:%s')</if>
            <if test="parentId != null "> and PARENT_ID = #{parentId}</if>
            <if test="isDelete != null "> and IS_DELETE = #{isDelete}</if>
        </where>
    </select>

    <select id="findById" parameterType="Long" resultMap="BusiServerResult">
        <include refid="selectBusiServerVo"/>
        where ID = #{id}
    </select>

    <select id="getServerByServerIpList" resultMap="BusiServerResult">
        <include refid="selectBusiServerVo"/>
        <where>
            SERVER_IP in
            <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
            <if test="server.startDate != null and server.startDate != ''">
                AND update_time >= STR_TO_DATE(#{server.startDate}, '%Y-%m-%d %H:%i:%s')
            </if>
            <if test="server.endDate != null and server.endDate != ''">
                AND update_time &lt;= STR_TO_DATE(#{server.endDate}, '%Y-%m-%d %H:%i:%s')
            </if>
            <if test="server.serverCode != null and server.serverCode != ''">
                AND SERVER_CODE = #{server.serverCode}
            </if>
            <if test="server.serverIp != null and server.serverIp != ''">
                AND SERVER_IP = #{server.serverIp}
            </if>
        </where>

    </select>

    <insert id="insert" parameterType="com.yuanqing.project.tiansu.domain.assets.ServerTree">
        insert into busi_server
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">ID,</if>
            <if test="serverCode != null  and serverCode != ''">SERVER_CODE,</if>
            <if test="serverName != null  and serverName != ''">SERVER_NAME,</if>
            <if test="serverDomain != null  and serverDomain != ''">SERVER_DOMAIN,</if>
            <if test="serverIp != null ">SERVER_IP,</if>
            <if test="serverPort != null ">SERVER_PORT,</if>
            <if test="serverMac != null  and serverMac != ''">SERVER_MAC,</if>
            <if test="serverType != null  and serverType != ''">SERVER_TYPE,</if>
            <if test="isRangAudit != null  and isRangAudit != ''">IS_RANG_AUDIT,</if>
            <if test="rangAuditPort != null  and rangAuditPort != ''">RANG_AUDIT_PORT,</if>
            <if test="isSshAudit != null  and isSshAudit != ''">IS_SSH_AUDIT,</if>
            <if test="sshAuditPort != null  and sshAuditPort != ''">SSH_AUDIT_PORT,</if>
            CREATE_TIME,
            UPDATE_TIME,
            <if test="parentId != null ">PARENT_ID,</if>
            <if test="isDelete != null ">IS_DELETE,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="serverCode != null  and serverCode != ''">#{serverCode},</if>
            <if test="serverName != null  and serverName != ''">#{serverName},</if>
            <if test="serverDomain != null  and serverDomain != ''">#{serverDomain},</if>
            <if test="serverIp != null ">#{serverIp},</if>
            <if test="serverPort != null ">#{serverPort},</if>
            <if test="serverMac != null  and serverMac != ''">#{serverMac},</if>
            <if test="serverType != null  and serverType != ''">#{serverType},</if>
            <if test="isRangAudit != null  and isRangAudit != ''">#{isRangAudit},</if>
            <if test="rangAuditPort != null  and rangAuditPort != ''">#{rangAuditPort},</if>
            <if test="isSshAudit != null  and isSshAudit != ''">#{isSshAudit},</if>
            <if test="sshAuditPort != null  and sshAuditPort != ''">#{sshAuditPort},</if>
            now(),
            now(),
            <if test="parentId != null ">#{parentId},</if>
            <if test="isDelete != null ">#{isDelete},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.yuanqing.project.tiansu.domain.assets.ServerTree">
        update busi_server
        <trim prefix="SET" suffixOverrides=",">
            <if test="serverCode != null  and serverCode != ''">SERVER_CODE = #{serverCode},</if>
            <if test="serverName != null  and serverName != ''">SERVER_NAME = #{serverName},</if>
            <if test="serverDomain != null  and serverDomain != ''">SERVER_DOMAIN = #{serverDomain},</if>
            <if test="serverIp != null ">SERVER_IP = #{serverIp},</if>
            <if test="serverPort != null ">SERVER_PORT = #{serverPort},</if>
            <if test="serverMac != null  and serverMac != ''">SERVER_MAC = #{serverMac},</if>
            <if test="serverType != null  and serverType != ''">SERVER_TYPE = #{serverType},</if>
            <if test="isRangAudit != null  and isRangAudit != ''">IS_RANG_AUDIT = #{isRangAudit},</if>
            <if test="rangAuditPort != null  and rangAuditPort != ''">RANG_AUDIT_PORT = #{rangAuditPort},</if>
            <if test="isSshAudit != null  and isSshAudit != ''">IS_SSH_AUDIT = #{isSshAudit},</if>
            <if test="sshAuditPort != null  and sshAuditPort != ''">SSH_AUDIT_PORT = #{sshAuditPort},</if>
            UPDATE_TIME = now(),
            <if test="parentId != null ">PARENT_ID = #{parentId},</if>
            <if test="isDelete != null ">IS_DELETE = #{isDelete},</if>
        </trim>
        where ID = #{id}
    </update>

    <update id="delete" parameterType="Long">
        update busi_server set is_del = 0 where ID = #{id}
    </update>


</mapper>
