<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuanqing.project.tiansu.mapper.operation.BusiHttpPerfMapper">

    <resultMap type="com.yuanqing.project.tiansu.domain.operation.BusiHttpPerf" id="BusiHttpPerfResult">
        <result property="id" column="id"/>
        <result property="srcIp" column="src_ip"/>
        <result property="srcPort" column="src_port"/>
        <result property="httpResponseTime" column="http_response_time"/>
        <result property="dataSize" column="data_size"/>
        <result property="content" column="content"/>
        <result property="dstIp" column="dst_ip"/>
        <result property="dstPort" column="dst_port"/>
        <result property="httpUrl" column="http_url"/>
        <result property="httpStatus" column="http_status"/>
        <result property="requestParameter"    column="request_parameter"    />
        <result property="responseParameter"    column="response_parameter"    />
        <result property="updateTime" column="update_time"/>
        <result property="stamp" column="stamp"/>
    </resultMap>

    <sql id="selectBusiHttpPerfVo">
        select id,
               src_ip,
               src_port,
               http_response_time,
               data_size,
               content,
               dst_ip,
               dst_port,
               http_url,
               request_parameter,
               response_parameter,
               http_status,
               update_time,
               stamp
        from busi_http_perf
    </sql>

    <select id="selectBusiHttpPerfList" parameterType="BusiHttpPerf" resultMap="BusiHttpPerfResult">
        <include refid="selectBusiHttpPerfVo"/>
        <where>
            <if test="srcIp != null "> and src_ip = #{srcIp}</if>
            <if test="srcPort != null  and srcPort != ''"> and src_port = #{srcPort}</if>
            <if test="httpResponseTime != null  and httpResponseTime != ''"> and http_response_time = #{httpResponseTime}</if>
            <if test="dataSize != null  and dataSize != ''"> and data_size = #{dataSize}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="dstIp != null "> and dst_ip = #{dstIp}</if>
            <if test="dstPort != null  and dstPort != ''"> and dst_port = #{dstPort}</if>
            <if test="httpUrl != null  and httpUrl != ''"> and http_url = #{httpUrl}</if>
            <if test="requestParameter != null  and requestParameter != ''"> and request_parameter = #{requestParameter}</if>
            <if test="responseParameter != null  and responseParameter != ''"> and response_parameter = #{responseParameter}</if>
            <if test="httpStatus != null  and httpStatus != ''"> and http_status = #{httpStatus}</if>
            <if test="startDate != null and endDate != null">and stamp >= STR_TO_DATE(#{startDate}, '%Y-%m-%d %H:%i:%s') and stamp &lt;= STR_TO_DATE(#{endDate}, '%Y-%m-%d %H:%i:%s')</if>
        </where>
    </select>

    <select id="selctHttpPerfListGroupByDstHost" parameterType="BusiHttpPerf" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            bsr.server_name,
            vbhp.dst_ip,
            vbhp.dst_port,
            vbhp.count,
            round(vbhp.average,2) average
        FROM
            busi_server_remark bsr
            RIGHT JOIN (
            SELECT
                bhp.dst_ip,
                bhp.dst_port,
                count( 1 ) count,
                AVG(http_response_time) average
            FROM
                busi_http_perf bhp
            <where>
                <if test="dstIp != null "> and bhp.dst_ip = #{dstIp}</if>
                <if test="dstPort != null  and dstPort != ''"> and bhp.dst_port = #{dstPort}</if>
                <if test="startDate != null and endDate != null">and  bhp.stamp >= STR_TO_DATE(#{startDate}, '%Y-%m-%d %H:%i:%s') and bhp.stamp &lt;= STR_TO_DATE(#{endDate}, '%Y-%m-%d %H:%i:%s')</if>
            </where>
            GROUP BY
                bhp.dst_ip,
                bhp.dst_port
            ) vbhp
        on vbhp.DST_IP = bsr.SERVER_IP and vbhp.dst_port = bsr.server_port
        ORDER BY
            count DESC
    </select>

    <select id="selectBusiHttpPerfById" parameterType="Long" resultMap="BusiHttpPerfResult">
        <include refid="selectBusiHttpPerfVo"/>
        where id = #{id}
    </select>

    <insert id="insertBusiHttpPerf" parameterType="BusiHttpPerf" useGeneratedKeys="true" keyProperty="id">
        insert into busi_http_perf
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="srcIp != null ">src_ip,</if>
            <if test="srcPort != null  and srcPort != ''">src_port,</if>
            <if test="httpResponseTime != null  and httpResponseTime != ''">http_response_time,</if>
            <if test="dataSize != null  and dataSize != ''">data_size,</if>
            <if test="content != null  and content != ''">content,</if>
            <if test="dstIp != null ">dst_ip,</if>
            <if test="dstPort != null  and dstPort != ''">dst_port,</if>
            <if test="httpUrl != null  and httpUrl != ''">http_url,</if>
            <if test="httpStatus != null  and httpStatus != ''">http_status,</if>
            <if test="requestParameter != null  and requestParameter != ''">request_parameter,</if>
            <if test="responseParameter != null  and responseParameter != ''">response_parameter,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="stamp != null ">stamp,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="srcIp != null ">#{srcIp},</if>
            <if test="srcPort != null  and srcPort != ''">#{srcPort},</if>
            <if test="httpResponseTime != null  and httpResponseTime != ''">#{httpResponseTime},</if>
            <if test="dataSize != null  and dataSize != ''">#{dataSize},</if>
            <if test="content != null  and content != ''">#{content},</if>
            <if test="dstIp != null ">#{dstIp},</if>
            <if test="dstPort != null  and dstPort != ''">#{dstPort},</if>
            <if test="httpUrl != null  and httpUrl != ''">#{httpUrl},</if>
            <if test="httpStatus != null  and httpStatus != ''">#{httpStatus},</if>
            <if test="requestParameter != null  and requestParameter != ''">#{requestParameter},</if>
            <if test="responseParameter != null  and responseParameter != ''">#{responseParameter},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="stamp != null ">#{stamp},</if>
        </trim>
    </insert>

    <update id="updateBusiHttpPerf" parameterType="BusiHttpPerf">
        update busi_http_perf
        <trim prefix="SET" suffixOverrides=",">
            <if test="srcIp != null ">src_ip = #{srcIp},</if>
            <if test="srcPort != null  and srcPort != ''">src_port = #{srcPort},</if>
            <if test="httpResponseTime != null  and httpResponseTime != ''">http_response_time = #{httpResponseTime},
            </if>
            <if test="dataSize != null  and dataSize != ''">data_size = #{dataSize},</if>
            <if test="content != null  and content != ''">content = #{content},</if>
            <if test="dstIp != null ">dst_ip = #{dstIp},</if>
            <if test="dstPort != null  and dstPort != ''">dst_port = #{dstPort},</if>
            <if test="httpUrl != null  and httpUrl != ''">http_url = #{httpUrl},</if>
            <if test="httpStatus != null  and httpStatus != ''">http_status = #{httpStatus},</if>
            <if test="requestParameter != null  and requestParameter != ''">request_parameter = #{requestParameter},</if>
            <if test="responseParameter != null  and responseParameter != ''">response_parameter = #{responseParameter},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="stamp != null ">stamp = #{stamp},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBusiHttpPerfById" parameterType="Long">
        delete
        from busi_http_perf
        where id = #{id}
    </delete>

    <delete id="deleteBusiHttpPerfByIds" parameterType="String">
        delete from busi_http_perf where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getHttpApiNum" resultType="java.lang.Integer">
        select count(*)
        from busi_http_perf
        where stamp between #{startDate} and #{endDate}
    </select>

    <select id="getApiErrorNum" resultType="java.lang.Integer">
        select count(*)
        from busi_http_perf
        where http_status !=200 and stamp between #{startDate}
          and #{endDate}
    </select>

    <select id="getApiOverTime" resultType="java.lang.Integer">
        select count(*)
        from busi_http_perf
        where http_response_time > #{time}
          and stamp between
            #{startDate}
            and #{endDate}
    </select>

</mapper>
