<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuanqing.project.tiansu.mapper.assets.OperationBehaviorSessionMapper">

    <resultMap id="resultMap" type="com.yuanqing.project.tiansu.domain.operation.OperationBehaviorSession">
        <id column="ID" property="id" jdbcType="BIGINT"/>
        <result column="CLIENT_ID" property="clientId" jdbcType="BIGINT"/>
        <result column="SRC_CODE" property="srcCode" jdbcType="VARCHAR"/>
        <result column="SRC_IP" property="srcIp" jdbcType="BIGINT"/>
        <result column="SRC_PORT" property="srcPort" jdbcType="VARCHAR"/>
        <result column="SRC_MAC" property="srcMac" jdbcType="VARCHAR"/>
        <result column="USERNAME" property="username" jdbcType="VARCHAR"/>
        <result column="CAMERA_ID" property="cameraId" jdbcType="BIGINT"/>
        <result column="DST_CODE" property="dstCode" jdbcType="VARCHAR"/>
        <result column="DST_IP" property="dstIp" jdbcType="BIGINT"/>
        <result column="DST_PORT" property="dstPort" jdbcType="BIGINT"/>
        <result column="DST_MAC" property="dstMac" jdbcType="VARCHAR"/>
        <result column="UP_FLOW" property="upFlow" jdbcType="BIGINT"/>
        <result column="DOWN_FLOW" property="downFlow" jdbcType="BIGINT"/>
        <result column="START_TIME" property="stime" jdbcType="TIMESTAMP"/>
        <result column="END_TIME" property="etime" jdbcType="TIMESTAMP"/>
        <result column="TOTAL_TIME" property="totalTime" jdbcType="VARCHAR"/>
        <result column="CONNECT_TYPE" property="connectType" jdbcType="INTEGER"
                typeHandler="com.yuanqing.common.handle.DefaultEnumTypeHandler"/>
        <result column="STATUS" property="status" jdbcType="INTEGER"
                typeHandler="com.yuanqing.common.handle.DefaultEnumTypeHandler"/>
        <result column="ACTIVE_TIME" property="activeTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getAll" parameterType="com.yuanqing.project.tiansu.domain.operation.OperationBehaviorSession" resultMap="resultMap">
        SELECT
        os.ID,
        os.CLIENT_ID,
        os.SRC_CODE,
        os.SRC_IP,
        os.SRC_PORT,
        os.SRC_MAC,
        c.USERNAME,
        os.CAMERA_ID,
        os.DST_CODE,
        os.DST_IP,
        os.DST_PORT,
        os.DST_MAC,
        os.UP_FLOW,
        os.DOWN_FLOW,
        os.START_TIME,
        os.END_TIME,
        os.TOTAL_TIME,
        os.ACTIVE_TIME,
        (
        CASE
        WHEN ex.id IS NOT NULL
        THEN ex.DEVICE_NAME
        WHEN ex_gb.id IS NOT NULL
        THEN ex_gb.DEVICE_NAME
        ELSE ca.DEVICE_NAME
        END
        ) AS DEVICE_NAME,
        (
        CASE
        WHEN ex.IP_ADDRESS IS NOT NULL
        THEN ex.IP_ADDRESS
        WHEN ex_gb.IP_ADDRESS IS NOT NULL
        THEN ex_gb.IP_ADDRESS
        ELSE ca.IP_ADDRESS
        END
        ) AS DEVICE_IP
        FROM
        `busi_oper_session` os
        LEFT JOIN BUSI_CLIENT c
        ON os.CLIENT_ID = c.ID
        LEFT JOIN BUSI_CAMERA ca
        ON os.CAMERA_ID = ca.ID
        LEFT JOIN BUSI_EXTERNAL_DEVICE ex
        ON ex.DEVICE_ID = ca.DEVICE_CODE
        LEFT JOIN BUSI_EXTERNAL_DEVICE ex_gb
        ON ex_gb.GB_ID = ca.DEVICE_CODE
        WHERE 1 = 1
        <if test="srcCode != null and srcCode != '' ">
            AND os.SRC_CODE = #{srcCode}
        </if>
        <if test="dstCode != null and dstCode != '' ">
            AND os.DST_CODE = #{dstCode}
        </if>
        <if test="id != null">
            AND os.ID = #{id}
        </if>
        <if test="startDate != null and endDate != null">
            and os.START_TIME between STR_TO_DATE(#{startDate}, '%Y-%m-%d %H:%i:%s') and STR_TO_DATE(#{endDate}, '%Y-%m-%d %H:%i:%s')
        </if>

        <if test="username != null and username != ''">
            AND c.USERNAME = #{username}
        </if>
        <if test="srcIp != null and srcIp != ''">
            AND os.SRC_IP= #{srcIp}
        </if>
        <if test="connectType != null and connectType != '' ">
            AND os.CONNECT_TYPE = #{connectType}
        </if>
        <if test="status != null and status != '' ">
            AND v.STATUS = #{status}
        </if>
        <if test="orderType == null or orderType == ''">
            ORDER BY os.START_TIME DESC
        </if>
        <if test="orderType != null and orderType != ''">
            ORDER BY ${orderType}
        </if>
        limit #{num},#{size}
    </select>

   <!-- <select id="findById" parameterType="long" resultMap="resultMap">
        SELECT *
        FROM V_BUSI_OPER_SESSION os
        WHERE os.ID = #{id}
    </select>

    <select id="findBySrcIP" parameterType="long" resultMap="resultMap">
        SELECT *
        FROM V_BUSI_OPER_SESSION os
        WHERE os.SRC_IP=#{srcIp}
    </select>

    <insert id="insert" parameterType="com.yuanqing.project.tiansu.domain.operation.OperationBehaviorSession">
        <selectKey keyProperty="id" order="BEFORE" resultType="long">
            SELECT SQ_BUSI_OPER_SESSION_ID.nextval AS ID FROM dual
        </selectKey>
        INSERT INTO BUSI_OPER_SESSION (ID, CLIENT_ID, SRC_CODE, SRC_IP, SRC_PORT, SRC_MAC, USERNAME,
        CAMERA_ID, DST_CODE, DST_IP, DST_PORT, DST_MAC, UP_FLOW, DOWN_FLOW, START_TIME, END_TIME, TOTAL_TIME, CONNECT_TYPE,
        STATUS,ACTIVE_TIME)
        VALUES (
        #{id},
        #{clientId, jdbcType=BIGINT},
        #{srcCode, jdbcType=VARCHAR},
        #{srcIp, jdbcType=BIGINT},
        #{srcPort, jdbcType=INTEGER},
        #{srcMac, jdbcType=VARCHAR},
        #{username, jdbcType=VARCHAR},
        #{cameraId, jdbcType=BIGINT},
        #{dstCode, jdbcType=VARCHAR},
        #{dstIp, jdbcType=BIGINT},
        #{dstPort, jdbcType=INTEGER},
        #{dstMac, jdbcType=VARCHAR},
        #{upFlow, jdbcType=BIGINT},
        #{downFlow, jdbcType=BIGINT},
        #{startTime, jdbcType=TIMESTAMP},
        #{endTime, jdbcType=TIMESTAMP},
        #{totalTime, jdbcType=VARCHAR},
        #{connectType, jdbcType=INTEGER, typeHandler=com.yuanqing.handler.DefaultEnumTypeHandler},
        #{status, jdbcType=INTEGER, typeHandler=com.yuanqing.handler.DefaultEnumTypeHandler},
        #{activeTime, jdbcType=TIMESTAMP}
        )
    </insert>

    <update id="update" parameterType="OperationBehaviorSession">
        UPDATE BUSI_OPER_SESSION
        SET
            CLIENT_ID  = #{clientId, jdbcType=BIGINT},
            SRC_CODE   = #{srcCode, jdbcType=VARCHAR},
            SRC_IP     = #{srcIp, jdbcType=BIGINT},
            SRC_PORT   = #{srcPort, jdbcType=INTEGER},
            SRC_MAC    = #{srcMac, jdbcType=VARCHAR},
            USERNAME   = #{username, jdbcType=VARCHAR},
            CAMERA_ID  = #{cameraId, jdbcType=BIGINT},
            DST_CODE   = #{dstCode, jdbcType=VARCHAR},
            DST_IP     = #{dstIp, jdbcType=BIGINT},
            DST_PORT   = #{dstPort, jdbcType=INTEGER},
            DST_MAC    = #{dstMac, jdbcType=VARCHAR},
            UP_FLOW    = #{upFlow, jdbcType=BIGINT},
            DOWN_FLOW    = #{downFlow, jdbcType=BIGINT},
            START_TIME = #{startTime, jdbcType=TIMESTAMP},
            END_TIME   = #{endTime, jdbcType=TIMESTAMP},
            TOTAL_TIME  = #{totalTime, jdbcType=VARCHAR},
            STATUS        = #{status, jdbcType=INTEGER, typeHandler=com.yuanqing.handler.DefaultEnumTypeHandler},
            ACTIVE_TIME   = #{activeTime,jdbcType=TIMESTAMP}
        WHERE id = #{id}
    </update>
-->
   <!-- <delete id="delete" parameterType="long">
        DELETE FROM BUSI_OPER_SESSION os
        WHERE os.ID = #{id}
    </delete>

    <select id="getSessionNum" resultType="long">
        SELECT COUNT(*) FROM BUSI_OPER_SESSION WHERE ID = #{id}
    </select>-->

    <select id="getCount" resultType="java.lang.Integer" parameterType="com.yuanqing.project.tiansu.domain.operation.OperationBehaviorSession">
        SELECT
         count(os.`ID`)
        FROM
        `busi_oper_session` os
        LEFT JOIN BUSI_CLIENT c
        ON os.CLIENT_ID = c.ID
        LEFT JOIN BUSI_CAMERA ca
        ON os.CAMERA_ID = ca.ID
        LEFT JOIN BUSI_EXTERNAL_DEVICE ex
        ON ex.DEVICE_ID = ca.DEVICE_CODE
        LEFT JOIN BUSI_EXTERNAL_DEVICE ex_gb
        ON ex_gb.GB_ID = ca.DEVICE_CODE
        WHERE 1 = 1
        <if test="srcCode != null and srcCode != '' ">
            AND os.SRC_CODE = #{srcCode}
        </if>
        <if test="dstCode != null and dstCode != '' ">
            AND os.DST_CODE = #{dstCode}
        </if>
        <if test="id != null ">
            AND os.ID = #{id}
        </if>

        <if test="startDate != null and endDate != null">
            and os.START_TIME between STR_TO_DATE(#{startDate}, '%Y-%m-%d %H:%i:%s') and STR_TO_DATE(#{endDate}, '%Y-%m-%d %H:%i:%s')
        </if>

        <if test="username != null">
            AND c.USERNAME = #{username}
        </if>
        <if test="srcIp != null and srcIp != ''">
            AND os.SRC_IP= #{srcIp}
        </if>
        <if test="connectType != null and connectType != '' ">
            AND os.CONNECT_TYPE = #{connectType}
        </if>
        <if test="status != null and status != '' ">
            AND v.STATUS = #{status}
        </if>

    </select>

    <!--<update id="updateSessionT" parameterType="OperationBehaviorSession">
        UPDATE BUSI_OPER_SESSION_T
        SET
            CLIENT_ID  = #{clientId, jdbcType=BIGINT},
            SRC_CODE   = #{srcCode, jdbcType=VARCHAR},
            SRC_IP     = #{srcIp, jdbcType=BIGINT},
            SRC_PORT   = #{srcPort, jdbcType=INTEGER},
            SRC_MAC    = #{srcMac, jdbcType=VARCHAR},
            USERNAME   = #{username, jdbcType=VARCHAR},
            CAMERA_ID  = #{cameraId, jdbcType=BIGINT},
            DST_CODE   = #{dstCode, jdbcType=VARCHAR},
            DST_IP     = #{dstIp, jdbcType=BIGINT},
            DST_PORT   = #{dstPort, jdbcType=INTEGER},
            DST_MAC    = #{dstMac, jdbcType=VARCHAR},
            UP_FLOW    = #{upFlow, jdbcType=BIGINT},
            DOWN_FLOW    = #{downFlow, jdbcType=BIGINT},
            START_TIME = #{startTime, jdbcType=TIMESTAMP},
            END_TIME   = #{endTime, jdbcType=TIMESTAMP},
            TOTAL_TIME  = #{totalTime, jdbcType=VARCHAR}，
            STATUS        = #{status, jdbcType=INTEGER, typeHandler=com.yuanqing.handler.DefaultEnumTypeHandler},
            ACTIVE_TIME   = #{activeTime,jdbcType=TIMESTAMP}
        WHERE id = #{id}
    </update>-->

</mapper>
