<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuanqing.project.tiansu.mapper.video.RawSignalMapper">

    <resultMap id="resultMap" type="com.yuanqing.project.tiansu.domain.operation.RawSignal">
        <id column="ID" property="id"/>
        <result column="SRC_IP" property="srcIp" jdbcType="BIGINT"/>
        <result column="SRC_MAC" property="srcMac" jdbcType="VARCHAR"/>
        <result column="SRC_PORT" property="srcPort" jdbcType="BIGINT"/>
        <result column="DST_IP" property="dstIp" jdbcType="BIGINT"/>
        <result column="DST_MAC" property="dstMac" jdbcType="VARCHAR"/>
        <result column="DST_PORT" property="dstPort" jdbcType="BIGINT"/>
        <result column="STAMP" property="stamp" jdbcType="TIMESTAMP"/>
        <result column="REQUEST_LINE_TYPE" property="requestLineType" jdbcType="VARCHAR"/>
        <result column="REQUEST_LINE_CONTENT" property="requestLineContent" jdbcType="VARCHAR"/>
        <result column="FROM_CODE" property="fromCode" jdbcType="VARCHAR"/>
        <result column="FROM_DOMAIN" property="fromDomain" jdbcType="VARCHAR"/>
        <result column="TO_CODE" property="toCode" jdbcType="VARCHAR"/>
        <result column="TO_DOMAIN" property="toDomain" jdbcType="VARCHAR"/>
        <result column="CONTENT_LENGTH" property="contentLength" jdbcType="VARCHAR"/>
        <result column="CONTACT" property="contact" jdbcType="VARCHAR"/>
        <result column="CSEQ" property="cseq" jdbcType="VARCHAR"/>
        <result column="CALL_ID" property="callId" jdbcType="VARCHAR"/>
        <result column="VIA" property="via" jdbcType="VARCHAR"/>
        <result column="SUBJECT" property="subject" jdbcType="VARCHAR"/>
        <result column="CONTENT_TYPE" property="contentType" jdbcType="VARCHAR"/>
        <result column="MAX_FORWARDS" property="maxForwards" jdbcType="VARCHAR"/>
        <result column="SIP_AUTHORIZATION" property="sipAuthorization" jdbcType="VARCHAR"/>
        <result column="EXPIRES" property="expires" jdbcType="VARCHAR"/>
        <result column="WWW_AUTHENTICATE" property="wwwAuthenticate" jdbcType="VARCHAR"/>
        <result column="OWNER_CODE" property="ownerCode" jdbcType="VARCHAR"/>
        <result column="OWNER_IP" property="ownerIp" jdbcType="VARCHAR"/>
        <result column="ACTION" property="action" jdbcType="VARCHAR"/>
        <result column="CONTENT" property="content" jdbcType="VARCHAR"/>
        <result column="OPER_ID" property="operId" jdbcType="BIGINT"/>
        <result column="DATA_SIZE" property="dataSize" jdbcType="BIGINT"/>
        <result column="CONNECT_TYPE" property="connectType" jdbcType="INTEGER"
                typeHandler="com.yuanqing.common.handle.DefaultEnumTypeHandler"/>
    </resultMap>

    <select id="queryListAll" parameterType="com.yuanqing.project.tiansu.domain.operation.OperationBehaviorSession" resultMap="resultMap">
        SELECT * FROM busi_raw_signal br WHERE 1 = 1
        <if test="id != null">
            AND br.id = #{id}
        </if>
        <if test="operId != null and operId != ''">
            AND br.OPER_ID = #{operId}
        </if>
        <if test="startDate != null and endDate != null">
            and br.STAMP between STR_TO_DATE(#{startDate}, '%Y-%m-%dT%H:%i:%s') and STR_TO_DATE(#{endDate}, '%Y-%m-%dT%H:%i:%s')
        </if>

        <if test="srcIp != null">
            AND br.SRC_IP = #{srcIp}
        </if>
        <if test="dstIp != null ">
            AND br.DST_IP = #{dstIp}
        </if>
        <if test="connectType != null and connectType != ''">
            AND br.CONNECT_TYPE = #{connectType}
        </if>
        <if test="orderType == null or orderType == ''">
            ORDER BY br.STAMP DESC
        </if>
        <if test="orderType != null and orderType != ''">
            ORDER BY ${orderType}
        </if>
        limit #{num},#{size}
    </select>
    <select id="queryCount" resultType="java.lang.Integer"
            parameterType="com.yuanqing.project.tiansu.domain.operation.RawSignal">
        SELECT count(1) FROM busi_raw_signal br WHERE 1 = 1
        <if test="id != null and id != ''">
            AND br.id = #{id}
        </if>
        <if test="operId != null and operId != ''">
            AND br.OPER_ID = #{operId}
        </if>
        <if test="startDate != null and endDate != null">
            and br.STAMP between STR_TO_DATE(#{startDate}, '%Y-%m-%dT%H:%i:%s') and STR_TO_DATE(#{endDate}, '%Y-%m-%dT%H:%i:%s')
        </if>
        <if test="srcIp != null ">
            AND br.SRC_IP = #{srcIp}
        </if>
        <if test="dstIp != null">
            AND br.DST_IP = #{dstIp}
        </if>
        <if test="connectType != null and connectType != ''">
            AND br.CONNECT_TYPE = #{connectType}
        </if>

    </select>


</mapper>
