<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuanqing.project.tiansu.mapper.analysis.ScreenMapper" >


    <select id="getOperCategory" resultType="com.alibaba.fastjson.JSONObject">

        SELECT
            hour(stamp) dt,
            action,
            count(action) dtcnt
        FROM
            busi_oper
        WHERE
            stamp BETWEEN SUBDATE(now(),interval 7 hour) and now()

            GROUP BY hour(stamp),action

    </select>


    <select id="getOperCount" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
        sum( count ) actionCnt,
        action
        FROM
        busi_statistics
        WHERE 1=1
        <if test="startDate != null and endDate != null">and  stamp >= STR_TO_DATE(#{startDate}, '%Y-%m-%d') and stamp &lt;= STR_TO_DATE(#{endDate}, '%Y-%m-%d')</if>
        GROUP BY
        ACTION
    </select>


    <select id="getUserTop" resultType="com.alibaba.fastjson.JSONObject">

        SELECT
            bs.username idCard,
            sum( bs.count ) count
        FROM
            busi_statistics bs left join busi_camera bc on bc.device_code = bs.dst_code
        WHERE
            1=1
            and bs.stamp >= STR_TO_DATE(#{startDate}, '%Y-%m-%d') and bs.stamp &lt;= STR_TO_DATE(#{endDate}, '%Y-%m-%d')
            and bc.device_type = 1
        GROUP BY
            bs.username
        ORDER BY
            bs.count desc
            LIMIT 0,5

    </select>

    <select id="getTerminalTop" resultType="com.alibaba.fastjson.JSONObject">

        SELECT
            bs.src_ip ip,
            sum( bs.count ) count
        FROM
            busi_statistics bs left join busi_camera bc on bc.device_code = bs.dst_code
        WHERE
            1=1
            and  bs.stamp >= STR_TO_DATE(#{startDate}, '%Y-%m-%d') and bs.stamp &lt;= STR_TO_DATE(#{endDate}, '%Y-%m-%d')
            and bc.device_type = 1
        GROUP BY
            bs.src_ip
        ORDER BY
            bs.count desc
            LIMIT 0,5
    </select>

    <select id="getCameraTop" resultType="com.alibaba.fastjson.JSONObject">

        SELECT
            bs.dst_code ip,
            sum( bs.count ) count,
            '' as name
        FROM
            busi_statistics bs left join busi_camera bc on bc.device_code = bs.dst_code
        WHERE
            1=1
            and  bs.stamp >= STR_TO_DATE(#{startDate}, '%Y-%m-%d') and bs.stamp &lt;= STR_TO_DATE(#{endDate}, '%Y-%m-%d')
            and bc.device_type = 1
        GROUP BY
            bs.dst_code
        ORDER BY
            bs.count desc
            LIMIT 0,5

    </select>
    <select id="getOperWarnByOper" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
         date_format( stamp, '%H:%i' ) AS minuteTime,
         count( id ) operCnt
        FROM
         ( SELECT id, stamp FROM busi_oper WHERE  action &lt;> 10 and action &lt;> 11 and stamp > DATE_SUB( now( ), INTERVAL 30 MINUTE ) ) b
        GROUP BY
         minuteTime
        ORDER BY
         minuteTime DESC
    </select>


</mapper>
