<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuanqing.project.tiansu.mapper.analysis.StatisticsMapper">

    <resultMap id="BusiStatisticsResultMap" type="com.yuanqing.project.tiansu.domain.analysis.Statistics">
        <result column="src_ip" property="srcIp"/>
        <result column="username" property="username"/>
        <result column="dst_code" property="dstCode"/>
        <result column="stamp" property="stamp"/>
        <result column="action" property="action"/>
        <result column="count" property="count"/>
    </resultMap>

    <resultMap id="TerminalVisitMap" type="com.yuanqing.project.tiansu.domain.analysis.TerminalVisit">
        <result column="src_ip" property="ipAddress"/>
        <result column="username" property="username"/>
        <result column="action" property="action"/>
        <result column="count" property="visitCnt"/>
        <result column="camera_cnt" property="cameraCnt"/>
    </resultMap>

    <resultMap id="CameraVisitMap" type="com.yuanqing.project.tiansu.domain.analysis.CameraVisit">
        <result column="dst_code" property="deviceCode"/>
        <result column="action" property="action"/>
        <result column="count" property="visitCnt"/>
        <result column="terminal_cnt" property="terminalCnt"/>
    </resultMap>

    <resultMap id="visitedRateMap" type="com.yuanqing.project.tiansu.domain.analysis.VisitedRate">
        <result column="region" property="regionId"/>
        <result column="visitedCamera" property="visitedCamera"/>
        <result column="terminalCnt" property="terminalCnt"/>
        <result column="userCnt" property="userCnt"/>
        <result column="allCount" property="allCount"/>
        <result column="visitCnt" property="visitedCnt"/>
    </resultMap>

    <sql id="selectBusiStatisticsVo">
        select src_ip, username, dst_code, stamp, action, count
        from busi_statistics
    </sql>

    <select id="getList" resultMap="BusiStatisticsResultMap">
        <include refid="selectBusiStatisticsVo"/>
        <where>
            <if test="srcIp != null  and srcIp != ''"> and src_ip = #{srcIp}</if>
            <if test="username != null  and username != ''"> and username = #{username}</if>
            <if test="dstCode != null  and dstCode != ''"> and dst_code = #{dstCode}</if>
            <if test="action != null"> and action = #{action}</if>
            <if test="startDate != null and endDate != null"> and stamp >= STR_TO_DATE(#{startDate}, '%Y-%m-%d') and stamp &lt;= STR_TO_DATE(#{endDate}, '%Y-%m-%d')</if>
        </where>
    </select>

    <select id="getClientUserList" resultMap="BusiStatisticsResultMap">
        select bs.src_ip, group_concat(distinct bs.username) username, sum(bs.count) count from busi_statistics bs left join busi_camera bc on bc.device_code = bs.dst_code
        <where>
            <if test="srcIp != null  and srcIp != ''">and bs.src_ip = #{srcIp}</if>
            <if test="username != null  and username != ''">and bs.username = #{username}</if>
            <if test="dstCode != null  and dstCode != ''">and bs.dst_code like concat('%', #{dstCode}, '%')</if>
            <if test="action != null  and action != ''">and bs.action = #{action}</if>
            <if test="startDate != null and endDate != null">and bs.stamp >= STR_TO_DATE(#{startDate}, '%Y-%m-%d') and
                bs.stamp &lt;= STR_TO_DATE(#{endDate}, '%Y-%m-%d')
            </if>
            and bc.device_type = 1
        </where>
        group by bs.src_ip
        order by bs.count desc
    </select>

    <select id="visitedRate" resultMap="visitedRateMap">
        SELECT
        vc.allcount,
        vs.visitedCamera,
        vs.terminalCnt,
        vs.userCnt,
        vs.visitCnt
        FROM
        (
        SELECT
        count( 1 ) allcount
        FROM
        busi_camera bc
        WHERE
        bc.DEVICE_TYPE = 1
        AND region in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        ) vc,
        (
        SELECT
        count( DISTINCT bs.dst_code ) visitedCamera,
        count( DISTINCT bs.src_ip) terminalCnt,
        count( DISTINCT bs.username ) userCnt,
        sum(count) visitCnt
        FROM
        busi_statistics bs
        RIGHT JOIN busi_camera bc ON bs.dst_code = bc.DEVICE_CODE
        where
        1=1
        and region in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND bc.DEVICE_TYPE = 1
        <if test="filter.startDate != null and filter.endDate != null">and bs.stamp >= STR_TO_DATE(#{filter.startDate}, '%Y-%m-%d') and
            bs.stamp &lt;= STR_TO_DATE(#{filter.endDate}, '%Y-%m-%d')
        </if>
        ) vs
    </select>

    <select id="getTerminalVisit" resultMap="TerminalVisitMap">
        SELECT
        bs.src_ip,
        bs.username,
        bs.action,
        sum( bs.count ) count,
        count( DISTINCT bs.dst_code ) camera_cnt
        FROM
        busi_statistics bs left join busi_camera bc on bc.device_code = bs.dst_code
        <where>
            1=1
            <if test="terminalVisit.ipAddress != null  and terminalVisit.ipAddress != ''">and bs.src_ip =
                #{terminalVisit.ipAddress}
            </if>
            <if test="terminalVisit.username != null  and terminalVisit.username != ''">and bs.username =
                #{terminalVisit.username}
            </if>
            <if test="terminalVisit.action != null">and action = #{terminalVisit.action}</if>
            <if test="terminalVisit.startDate != null and terminalVisit.endDate != null">and bs.stamp >=
                STR_TO_DATE(#{terminalVisit.startDate}, '%Y-%m-%d') and bs.stamp &lt;=
                STR_TO_DATE(#{terminalVisit.endDate}, '%Y-%m-%d')
            </if>
            and bc.device_type = 1
        </where>
        GROUP BY
        bs.src_ip,
        bs.username,
        bs.action
        <if test="orderStr != null and orderStr != ''">
            ORDER BY bs.${orderStr}
        </if>
    </select>


    <select id="getCameraVisit" resultMap="CameraVisitMap">

        SELECT
        bs.dst_code,
        bs.action,
        sum( bs.count ) count,
        count( DISTINCT bs.src_ip ) terminal_cnt
        FROM
        busi_statistics bs left join busi_camera bc on bc.device_code = bs.dst_code
        <where>
            1=1
            <if test="list != null">
                and bs.dst_code in
                <foreach collection="list" open="(" separator="," close=")" item="item">
                    #{item}
                </foreach>
            </if>
            <if test="filter.startDate != null and filter.endDate != null">and bs.stamp >= STR_TO_DATE(#{filter.startDate},
                '%Y-%m-%d') and bs.stamp &lt;= STR_TO_DATE(#{filter.endDate}, '%Y-%m-%d')
            </if>
            <if test="filter.action != null">and bs.action = #{filter.action}</if>
        </where>
        GROUP BY
        bs.dst_code,
        bs.action
        <if test="orderStr != null and orderStr != ''">
            ORDER BY bs.${orderStr}
        </if>
    </select>

    <select id="getCameraVisited" resultType="java.lang.String">

        SELECT
        DISTINCT bs.dst_code
        FROM
        busi_statistics bs left join busi_camera bc on bc.device_code = bs.dst_code
        <where>
            bs.dst_code in
            <foreach collection="list" open="(" separator="," close=")" item="item">
                #{item}
            </foreach>
            <if test="filter.startDate != null and filter.endDate != null">and bs.stamp >= STR_TO_DATE(#{filter.startDate},
                '%Y-%m-%d') and bs.stamp &lt;= STR_TO_DATE(#{filter.endDate}, '%Y-%m-%d')
            </if>
            and bc.device_type = 1
        </where>
    </select>


    <select id="getTerminalVisited" resultType="java.lang.Long">
        SELECT
        DISTINCT bs.src_ip
        FROM
        busi_statistics bs left join busi_camera bc on bc.device_code = bs.dst_code
        <where>
            bs.dst_code in
            <foreach collection="list" open="(" separator="," close=")" item="item">
                #{item}
            </foreach>
            <if test="filter.startDate != null and filter.endDate != null">and bs.stamp >= STR_TO_DATE(#{filter.startDate},
                '%Y-%m-%d') and bs.stamp &lt;= STR_TO_DATE(#{filter.endDate}, '%Y-%m-%d')
            </if>
            and bc.device_type = 1
        </where>

    </select>


</mapper>
