<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuanqing.project.tiansu.mapper.analysis.StatisticsMapper">

    <resultMap id="BusiStatisticsResultMap" type="com.yuanqing.project.tiansu.domain.analysis.Statistics">
        <result column="src_ip" property="srcIp"/>
        <result column="username" property="username"/>
        <result column="dst_code" property="dstCode"/>
        <result column="stamp" property="stamp"/>
        <result column="action" property="action"/>
        <result column="count" property="count"/>
    </resultMap>

    <resultMap id="TerminalVisitMap" type="com.yuanqing.project.tiansu.domain.analysis.TerminalVisit">
        <result column="src_ip" property="ipAddress"/>
        <result column="username" property="username"/>
        <result column="action" property="action"/>
        <result column="count" property="visitCnt"/>
        <result column="camera_cnt" property="cameraCnt"/>
    </resultMap>

    <resultMap id="CameraVisitMap" type="com.yuanqing.project.tiansu.domain.analysis.CameraVisit">
        <result column="dst_code" property="deviceCode"/>
        <result column="action" property="action"/>
        <result column="count" property="visitCnt"/>
        <result column="terminal_cnt" property="terminalCnt"/>
    </resultMap>

    <resultMap id="visitedRateMap" type="com.yuanqing.project.tiansu.domain.analysis.VisitedRate">
        <result column="region" property="regionId"/>
        <result column="visitedCamera" property="visitedCamera"/>
        <result column="terminalCnt" property="terminalCnt"/>
        <result column="userCnt" property="userCnt"/>
        <result column="allCount" property="allCount"/>
        <result column="visitCnt" property="visitedCnt"/>
    </resultMap>

    <sql id="selectBusiStatisticsVo">
        select src_ip, username, dst_code, stamp, action, count from busi_statistics
    </sql>

    <select id="getList" resultMap="BusiStatisticsResultMap">
        <include refid="selectBusiStatisticsVo"/>
        <where>
            <if test="srcIp != null  and srcIp != ''"> and src_ip = #{srcIp}</if>
            <if test="username != null  and username != ''"> and username = #{username}</if>
            <if test="dstCode != null  and dstCode != ''"> and dst_code like concat('%', #{dstCode}, '%')</if>
            <if test="action != null  and action != ''"> and action = #{action}</if>
            <if test="startDate != null and endDate != null"> and stamp >= STR_TO_DATE(#{startDate}, '%Y-%m-%d') and stamp &lt;= STR_TO_DATE(#{endDate}, '%Y-%m-%d')</if>
        </where>
    </select>

    <select id="visitedRate" resultMap="visitedRateMap">
        SELECT
            bc.REGION region,
            count( DISTINCT bs.dst_code ) visitedCamera,
            count( DISTINCT bs.src_ip) terminalCnt,
            count( DISTINCT bs.username ) userCnt,
            (select count(1) from busi_camera bc1 where bc1.REGION = bc.REGION and bc1.device_type = 1) as allCount,
            sum(count) visitCnt
        FROM
            busi_statistics bs
        LEFT JOIN busi_camera bc ON bs.dst_code = bc.DEVICE_CODE
        <where>
            1=1
            <if test="startDate != null and endDate != null"> and bs.stamp >= STR_TO_DATE(#{startDate}, '%Y-%m-%d') and bs.stamp &lt;= STR_TO_DATE(#{endDate}, '%Y-%m-%d')</if>
        </where>
        GROUP BY
            bc.REGION
    </select>

    <select id="getTerminalVisit" resultMap="TerminalVisitMap">
        SELECT
            src_ip,
            username,
            action,
            sum( count ) count,
            count( DISTINCT dst_code ) camera_cnt
        FROM
            busi_statistics
        <where>
            1=1
            <if test="terminalVisit.ipAddress != null  and terminalVisit.ipAddress != ''"> and src_ip = #{terminalVisit.ipAddress}</if>
            <if test="terminalVisit.username != null  and terminalVisit.username != ''"> and username = #{terminalVisit.username}</if>
            <if test="terminalVisit.action != null  and terminalVisit.action != ''"> and action = #{terminalVisit.action}</if>
            <if test="terminalVisit.startDate != null and terminalVisit.endDate != null"> and stamp >= STR_TO_DATE(#{terminalVisit.startDate}, '%Y-%m-%d') and stamp &lt;= STR_TO_DATE(#{terminalVisit.endDate}, '%Y-%m-%d')</if>
        </where>
        GROUP BY
        src_ip,
        username,
        action
        <if test="orderStr != null and orderStr != ''">
            ORDER BY ${orderStr}
        </if>
    </select>


    <select id="getCameraVisit" resultMap="CameraVisitMap">

        SELECT
            dst_code,
            action,
            sum( count ) count,
            count( DISTINCT src_ip ) terminal_cnt
        FROM
            busi_statistics
        <where>
            dst_code in
            <foreach collection="list" open="(" separator="," close=")" item="item">
                #{item}
            </foreach>
            <if test="filter.startDate != null and filter.endDate != null"> and stamp >= STR_TO_DATE(#{filter.startDate}, '%Y-%m-%d') and stamp &lt;= STR_TO_DATE(#{filter.endDate}, '%Y-%m-%d')</if>
            <if test="filter.action != null">and action = #{filter.action}</if>
        </where>
        GROUP BY
            dst_code,
            action

    </select>

    <select id="getCameraVisited" resultType="java.lang.String">

        SELECT
            DISTINCT dst_code
        FROM
            busi_statistics
        <where>
            dst_code in
            <foreach collection="list" open="(" separator="," close=")" item="item">
                #{item}
            </foreach>
            <if test="filter.startDate != null and filter.endDate != null"> and stamp >= STR_TO_DATE(#{filter.startDate}, '%Y-%m-%d') and stamp &lt;= STR_TO_DATE(#{filter.endDate}, '%Y-%m-%d')</if>
        </where>
    </select>


    <select id="getTerminalVisited" resultType="java.lang.Long">
        SELECT
        DISTINCT src_ip
        FROM
        busi_statistics
        <where>
            dst_code in
            <foreach collection="list" open="(" separator="," close=")" item="item">
                #{item}
            </foreach>
            <if test="filter.startDate != null and filter.endDate != null"> and stamp >= STR_TO_DATE(#{filter.startDate}, '%Y-%m-%d') and stamp &lt;= STR_TO_DATE(#{filter.endDate}, '%Y-%m-%d')</if>
        </where>

    </select>



</mapper>
